[2012-05-23 17:19] whimboo opened #2 "Combine mozdownload.py and scraper.py into a single file"
There is no reason why we would need two separate files here. Lets combine both into a single file called scraper.py.

Further I would also suggest that we update the class name of the base class to have the correct API right away before releasing to pypi:

MozillaScraper => Scraper

The other classes look fine and wouldn't need an update.

[2012-05-23 17:21] whimboo opened #3 "Move out PacificTimezone class to a separate timezone module"
Given that the timezone code isn't related to the scraper we have to move it out to its own module. Probably called 'PacificTimezone'.

[2012-05-23 17:23] whimboo opened #4 "Move out DirectoryParser to its own module"
This one is not directly related to the scraper code and should be moved out to it's own file like parser.py.

[2012-05-23 17:57] #4 closed, assigned to nobody

[2012-05-23 18:24] #3 closed, assigned to davehunt

[2012-05-23 18:31] davehunt opened #7 "Update scraper class methods to return raw regular exceptions without inserting placeholders"
This was originally raised on [bug 712253](https://bugzilla.mozilla.org/show_bug.cgi?id=712253):

[2012-05-23 18:35] davehunt opened #8 "Add support to download a build by a given (relative) build range"
This was originally raised as [bug 704186](https://bugzilla.mozilla.org/show_bug.cgi?id=704186):

[2012-05-23 18:45] #2 closed, assigned to nobody

[2012-05-23 18:49] davehunt opened #10 "Add tests"

[2012-05-23 21:26] davehunt opened #11 "If folder of latest version doesn't contain binary go back in history for that day"
When attempting to download Thunderbird daily builds the following exception is thrown:

[code]

It appears that the folder that's selected only contains test results and not the builds.

[2012-06-01 09:07] whimboo opened #12 "Support templates for building the local filename"
Right now we use a hard-coded template to build the local filename. We should allow the user to define how the filename should be build.

[2012-07-02 11:24] whimboo opened #13 "Disable caching when fetching build information"
Right now it happens a lot for our Mozmill CI project that we want to download a build which has been finished right at the same time. Sadly we get back a 404 when trying to do so. Means we probably end-up in getting cached content returned and the new build hasn't been indexed yet.

So we should do similar like this bug with `Cache-Control: max-age=0` or by adding a random query string at the end

[2012-07-25 16:09] aleksejrs opened #14 "When a latest directory has builds from multiple branches, the old one is fetched."
https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-mozilla-central/ currently contains a build from a previous version number, over a week old.  mozdownload downloads it instead of the one with the current version number.

The problem appears to be with https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L218 :
1. Line 226 seems to gather a list of .txt files in t

[2012-07-27 08:02] #14 closed, assigned to nobody

[2012-08-14 16:52] davehunt opened #16 "Bump version number to 1.1"
I'm not sure how we released 1.1 without this, but we should bump the version number and create a tag.

[2012-08-14 17:14] davehunt opened #17 "Expose details of matching builds"
I find it frustrating that the builds aren't listed when there are multiple matches. I suggest like the following:

**_less than 10 matches**_

**_more than 10 matches**_

[2012-08-15 19:12] whimboo opened #18 "Download of builds via build-id fails if more than one subfolder is present for that day"
Try to download:

$ mozdownload -t daily --branch=mozilla-esr10 --build-id=20120815034500 --platform=mac

And you will get:

Retrieving list of builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/2012/08/
Traceback (most recent call last):
  File "/Volumes/data/envs/m-d/bin/mozdownload", line 8, in <module>
    load_entry_point('mozdownload==1.1', 'console_scripts', 'mozdownload')(

[2012-08-16 13:48] #18 closed, assigned to nobody

[2012-08-16 13:49] #16 closed, assigned to nobody

[2012-08-16 13:54] whimboo opened #20 "Release mozdownload 1.2"
We have to release version 1.2 to PyPI with the fix for #19 included.

[2012-08-16 14:05] #20 closed, assigned to nobody

[2012-08-17 12:49] aleksejrs opened #22 "Add a bash-completion script"
mozdownload has multiple command line switches, some of which are only available in the long form.
mozdownload also has 43-line help output.

bash-completion allows for auto-completion of command line options of a program when using bash or zsh.  For example, git provides a 56-kilobyte description of completion in Debian (most auto-completion scripts are only a couple kilobytes though).  With it,

[2012-10-04 12:54] whimboo opened #26 "Release mozdownload 1.3"

[2012-10-07 08:31] #26 closed, assigned to nobody

[2012-10-07 08:32] whimboo opened #29 "Add support for stub installer"
We now have the first builds with the stub-installer. Mozdownload should support those.

[2012-10-08 18:04] whimboo opened #30 "Don't download stub installer by default"
As seen below we should NOT do that. It breaks our automation.

$ mozdownload -t daily -p win32
Retrieving the build status file from https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-mozilla-central/
Retrieving list of builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/2012/10/
Downloading build: https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/2012/10/2012-10

[2012-10-08 19:24] whimboo opened #32 "Release version 1.4"

[2012-10-08 19:33] #30 closed, assigned to nobody

[2012-10-08 19:37] #32 closed, assigned to nobody

[2012-10-18 17:18] davehunt opened #34 "Display version information"
There is currently no way to display the version of mozdownload in use. We're using `--version` to specify the version of the application to download, so suspect we can't use that. Perhaps `--help` should include the version number?

[2012-10-31 11:53] davehunt opened #35 "Support downloading from an arbitrary URL"
For builds that are published to temporary locations we should support specifying the full URL to download from.

[2012-10-31 11:54] davehunt opened #36 "Support basic authentication"
Some download locations may be behind basic authentication. We should support handling the username/password for such downloads.

[2012-11-12 11:39] davehunt opened #39 "Automatically retry download on failure"
Rather than immediately throw an exception if the download fails, we should automatically retry a default number of times. The number could be overwritten by a command line option.

[2012-12-04 14:58] davehunt opened #42 "Revisit use of urllib.splitquery()"
From pull #37:

[2012-12-04 15:04] #35 closed, assigned to davehunt

[2012-12-04 15:07] davehunt opened #43 "Remove default=None from OptionParser options"
If default is omitted then the value is None, so this is unnecessary code.

[2012-12-04 15:11] #36 closed, assigned to davehunt

[2012-12-04 15:13] davehunt opened #44 "Update the README file"
We should include documentation of all command line options rather than just a few examples. Options such as url and authentication are currently missing.

[2012-12-05 12:40] whimboo opened #45 "Release version 1.5"
With the latest features and fixes we have to release 1.5 soon.

[2012-12-05 12:56] #45 closed, assigned to nobody

[2012-12-18 09:19] whimboo opened #48 "Improve download experience"
The experience in downloading files is a bit poor at the moment. We don't have a progress meter and also don't retry the download. Something I came along today is [urlgrabber](http://pypi.python.org/pypi/urlgrabber/3.1.0). Sounds like a great addition for mozdownload.

[2013-01-07 11:46] davehunt opened #50 "Implement a download timeout"
We should have a sensible default timeout for downloads. We have example of Mozmill CI builds that are aborted due to them taking > 60 minutes whilst apparently still running mozdownload.

[2013-01-31 08:26] whimboo opened #51 "Failure if empy locale specified: "TypeError: coercing to Unicode: need string or buffer, NoneType found""
If an empty locale has been specified mozdownload fails to download the Firefox build:

mozdownload --version=18.0.1 --locale=

Traceback (most recent call last):
  File "/Users/mozauto/jenkins/workspace/ondemand_update/mozmill-env/bin/mozdownload", line 8, in <module>
    load_entry_point('mozdownload==1.5', 'console_scripts', 'mozdownload')()
  File "/Users/mozauto/jenkins/workspace/ondemand_upd

[2013-02-15 22:19] #39 closed, assigned to davehunt

[2013-02-20 11:33] davehunt opened #53 "Release mozdownload 1.6"

[2013-02-20 11:58] #51 closed, assigned to nobody

[2013-02-20 13:13] #53 closed, assigned to davehunt

[2013-02-25 15:01] davehunt opened #58 "Retry if binary is not found in folder"
We now retry the download if it fails, but if the binary does not exist yet at the time mozdownload is called we still fail with NotFoundException:

We should consider applying the same retry rules for retrieving the target binary URL.

[2013-03-18 23:51] Nebelhom opened #63 "Make sure mozdownload is PEP8 compliant"
We should attempt to comply with PEP8

installing pep8

[code]

then run

[code]

The output are the issues to be fixed.

[2013-03-19 16:27] #50 closed, assigned to nobody

[2013-03-20 23:25] #34 closed, assigned to nobody

[2013-03-26 10:50] #44 closed, assigned to nobody

[2013-04-08 07:42] #43 closed, assigned to nobody

[2013-04-09 07:01] whimboo opened #65 "Don't enable retries by default"
I think I have mentioned it before on the original implementation bug and I'm still not a fan of having this enabled by default. I don't think that this gives 90% of our users a benefit given that they will never reach the situation that a build they want to download is not available but 20s later. This is really only the case for our Mozmill CI which tries to start a download as soon as the build

[2013-04-11 07:10] whimboo opened #67 "Fallback to win32 builds on win64"
On all Windows 64bit machines we currently fail to download the build because it defaults to win64 builds which we currently don't ship. Lets default to win32 builds instead.

[2013-04-12 11:52] #58 closed, assigned to nobody

[2013-04-15 09:03] #48 closed, assigned to nobody

[2013-04-22 07:46] whimboo opened #70 "Use urlgrabber module and replace some custom code"
Over in #66 we got a hint for the urlgrabber module. Looking over it, it has a couple of features which we implemented on our own. I think we should make use of this module instead of progressbar, and replace all of our custom code which is already featured by this module.

https://pypi.python.org/pypi/urlgrabber

[2013-04-22 14:25] #65 closed, assigned to nobody

[2013-04-24 10:00] whimboo opened #71 "Release mozdownload 1.7"
Given that all patches for 1.7 have been landed, we can proceed with the final patch to get version 1.7 released.

Steps to do:
- Update setup.py to reflect the new version
- Update the history file with all the landed fixes and features since 1.6

[2013-04-24 13:59] #71 closed, assigned to nobody

[2013-04-30 07:50] whimboo opened #73 "'datetime.timedelta' object has no attribute 'total_seconds'"
We regressed mozdownload on machines with Python 2.6 installed. We have to get this fixed with a maintenance release. I will work on a fix.

[ondemand_update] $ mozmill-env/run mozdownload --type=$BUILD_TYPE --platform=$PLATFORM --version=$VERSION --locale=$LOCALE --build-number=$BUILD_NUMBER --directory=builds
  0% |                                              | ETA:  --:--:--   0.00 B/s
Downloa

[2013-04-30 09:52] #73 closed, assigned to nobody

[2013-04-30 09:57] whimboo opened #75 "Release mozdownload 1.7.1"
We have to release 1.7.1 with the fix for issue #73 included.

[2013-04-30 10:04] #75 closed, assigned to nobody

[2013-05-12 15:21] ghost opened #77 "Scraper fails if an intermediary buildN folder is missing (or hidden)"
RE: https://bugzilla.mozilla.org/show_bug.cgi?id=871209

The download scraper fails if one of the buildN folders doesn't exist. In this case, we were trying to run automation against build3 but there was no build2 folder. Nick Thomas was able to work around this by adding a fake build2 folder on the FTP server.

See:
https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/21.0-candidates/

Upon fu

[2013-05-13 14:53] #77 closed, assigned to nobody

[2013-05-13 14:54] whimboo opened #79 "Release mozdownload 1.7.2"

[2013-05-13 15:39] #79 closed, assigned to nobody

[2013-05-21 17:02] whimboo opened #81 "--retry-attempts option is not recognized if parent folder cannot be found"
Run a command like the following:

`$ mozdownload -t daily --branch=mozilla-aurora --build-id=2013050693243 --retry-attempts=5`

This contains an invalid build id and let the script fail even with retry-attempts specified:

Retrieving list of builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/2013/05/
Traceback (most recent call last):
  File "/home/henrik/.virtualenvs/mozdownload

[2013-05-21 21:03] rwood-moz opened #82 ""Authorization Required" error after upgrading to Mozdownload 1.7.2"
My gaia-ui endurance test jenkins build for downloading the latest b2g nightly (which uses mozdownload) was working fine up until mozdownload was uprgraded to 1.7.2 on May 13th, then it started failing with this:

`mozdownload --url=https://pvtbuilds.mozilla.org/pub/mozilla.org/b2g/nightly/mozilla-b2g18-unagi-eng/latest/unagi.zip --username=rwood@mozilla.com --password=********
Downloading from: h

[2013-05-24 07:34] #82 closed, assigned to nobody

[2013-05-24 09:48] #13 closed, assigned to nobody

[2013-05-29 10:52] #63 closed, assigned to nobody

[2013-05-30 15:45] Nebelhom opened #89 "Clearer error message if url does not point to a specific file"
When I tried to download something using a specific URL I accidentally did not point to a specific file to be download, but just the entrance page.

The error I received confused me at first a little:

[code]

Maybe, we should add a clearer error message here like

"There is no file to be downloaded."

Just a thought...

[2013-05-30 19:39] whimboo opened #91 "Make use of a sane default timeout for downloads"
As of now mozdownload uses a timeout of 180s for a download. That's not a solution we should favor. Especially not when you make use of the direct scraper and want to download large files. I would say we remove it by default and any client has to set a timeout if it's necessary. By default (manual mode) we shouldn't force that.

I would kinda like to see that in 1.8.

[2013-06-04 15:18] davehunt opened #92 "Allow specifying a full path to download the file to"
With [bug 857037](https://bugzilla.mozilla.org/show_bug.cgi?id=857037) we will be removing support for running automation against binaries in a directory. Instead, automation will target a specific binary, but mozdownload does not currently support specifying the filename of the downloaded content.

We should add an `--target` option (and potentially remove the `--directory` option). If not specif

[2013-06-07 14:56] tojon opened #96 "Minor whitespace cleanup for scraper.py"
I noticed what appears to be a few unnecessary white space characters in scraper.py, approximately at lines 109, 583, and 641 in mozdownload 1.7.2. I'd be happy to clean them up if needed.

[2013-06-07 15:06] tojon opened #97 "Potentially use Nightly vs. Daily in mozdownload args"
One of the initial minor inconsistencies I noticed first using mozdownload, was it's use of the term "Daily", in args in the utility, versus the use of the term "Nightly" in customer-facing content, like Default, Aurora, etc, to describe what to me seems the same thing.

eg.
Default Nightly
http://nightly.mozilla.org/

If it's a tweak that might be desired, feel free to assign me and I can update

[2013-06-07 15:56] #96 closed, assigned to nobody

[2013-06-19 19:22] #70 closed, assigned to nobody

[2013-07-16 10:44] #81 closed, assigned to nobody

[2013-07-16 14:00] #91 closed, assigned to nobody

[2013-07-16 14:08] #97 closed, assigned to nobody

[2013-07-16 15:32] #42 closed, assigned to nobody

[2013-07-16 15:33] #89 closed, assigned to nobody

[2013-07-16 20:32] #17 closed, assigned to davehunt

[2013-07-19 09:45] davehunt opened #102 "Multiple matches are shown when specifying a unique build ID"
Steps to reproduce:

[code]

Expected:
Only one build matches, so the match should be shown and downloaded

Actual:
Matches for the date (but not specific time) are shown, however the correct one is downloaded

Fix:

[code]

[2013-07-19 09:57] davehunt opened #103 "Unable to download tinderbox builds by timestamp"
Steps to reproduce (you will need to use a valid timestamp):

[code]

Expected:
Specific tinderbox build is downloaded.

Actual:

[code]

[2013-07-19 10:04] davehunt opened #104 "Unable to download B2G desktop builds"
Steps to reproduce:

[code]

Expected:
Latest daily B2G desktop build is downloaded.

Actual:

[code]

This is mostly due to the way locales are treated with B2G desktop builds. There are currently two locales: 'multi' and 'en-US'. We should probably download 'multi' if no locale is specified and only 'en-US' if requested. There is also an issue downloading Windows builds due to an expectation of

[2013-07-19 10:12] davehunt opened #105 "Downloaded URL resources are not placed in target directory"
Steps to reproduce:

[code]

Expected:
File should be found

Actual:
File is not found (it's in the current working directory instead)

Fix:

[code]

[2013-07-19 10:29] davehunt opened #106 "There is no pause between the initial attempt and first retry"
Steps to reproduce:

[code]

The retry delay is ignored for the first retry attempt. It's also unclear what's happening during the delay.

Potential fix (not thoroughly tested):

[code]

[2013-07-19 11:12] davehunt opened #108 "Remove support for unsigned candidate builds"
I have been unable to find any unsigned candidate builds. Are we still building these? If not, we should remove this code-path from mozdownload.

[2013-07-22 16:43] #106 closed, assigned to nobody

[2013-07-23 12:59] davehunt opened #112 "Add support for downloading Fennec (Firefox Mobile) builds"
Releases: https://ftp.mozilla.org/pub/mozilla.org/mobile/releases/
Candidates: https://ftp.mozilla.org/pub/mozilla.org/mobile/candidates/
Tinderbox: https://ftp.mozilla.org/pub/mozilla.org/mobile/tinderbox-builds/
Daily: https://ftp.mozilla.org/pub/mozilla.org/mobile/nightly/

[2013-07-23 13:34] #11 closed, assigned to nobody

[2013-07-24 08:49] whimboo opened #115 "Specifying an invalid locale should not cause a 'Client Error: Not Found' exception"
We should catch that and mention that the build has not been found or the locale is invalid.

$ mozdownload -v 22.0 -l jp
Traceback (most recent call last):
  File "/home/henrik/.virtualenvs/m2d/bin/mozdownload", line 9, in <module>
    load_entry_point('mozdownload==1.7.2', 'console_scripts', 'mozdownload')()
  File "/mozilla/code/mozdownload/mozdownload/scraper.py", line 976, in cli
    build.do

[2013-07-24 13:50] davehunt opened #116 "Add logging"
We should add logging to mozdownload (probably using mozlog). This will allow us to add a bunch of debug logs that would help when diagnosing issues.

[2013-07-24 14:58] #105 closed, assigned to nobody

[2013-07-24 15:03] whimboo opened #117 "Release mozdownload 1.8"
Once all issues for milestone 1.8 are fixed we should get mozdownload released as 1.8 and pushed to pypi. This issues tracks the necessary work.

[2013-07-24 16:27] whimboo opened #118 "Allow mozdownload to download all locales for a specified build"
Something which would be very helpful is if mozdownload would allow you to download all available locales for a specified build like:

mozdownload -v 22.0 -p linux -l all

[2013-07-25 08:28] #102 closed, assigned to nobody

[2013-07-25 09:00] davehunt opened #119 "Unable to download files with a different extension for Windows builds"
Command to replicate:

[code]

This is due to the expectation of 'installer' in the file name.

Proposed fix:

[code]

[2013-07-25 12:12] #117 closed, assigned to nobody

[2013-07-26 15:44] davehunt opened #121 "Provide suitable error message for build numbers that are out of bounds"
At the moment, if you specify an invalid `--build-number` where the build number is used as an index, the error messages are inconsistent and unclear.

For example (daily):

[code]

(and tinderbox):

[code]

I would suggest instead raising an error that indicates the available values for the argument. Something like:

[code]

[2013-07-26 18:40] #103 closed, assigned to nobody

[2013-07-27 08:46] ghost opened #123 "Refactoring of urljoining code"
I think all code which includes '/'.join([parts of url]) can be easily refactored into urljoin (a part of stdlib's urlparse library).

[2013-08-16 11:04] Nebelhom opened #128 "Allow the download of any kind of file from the build folder which starts with the application name"
This is based on a comment made by @whimboo in a different pull suggesting how to extend the manual test cases. I re-post them here, as they were too general for that pull (win builds vs. all platforms)

See  https://github.com/mozilla/mozdownload/pull/126#issuecomment-22754297  for more information

The extensions of the manual test cases are:
- complete.mar for all platforms
- tests.zip for all

[2013-08-16 11:08] Nebelhom opened #129 "Allow downloading files like ´jsshell-win32.zip´"
We should allow for files like ´jsshell-win32.zip´ to be downloaded, as well (paraphrased)

This issue originates from a suggestion made by @whimboo in a different pull ( https://github.com/mozilla/mozdownload/pull/126#issuecomment-22754297 )

I re-post it here as it is beyond the scope of the other pull:

[2013-08-19 22:43] ghost opened #130 "Unused property in TinderboxScraper: date_validation_regex"
Unfotunately, I cannot find where this property is used. Maybe it should be removed?

[2013-08-20 11:19] Nebelhom opened #131 "Re-structure run_test.sh venv installation"
This was observed in mozfile:
https://github.com/mozilla/mozbase/blob/master/mozfile/setup.py#L23

This change to using `python setup.py` would solve an issue in `run_tests-sh` with regard to the pip install section.

---

This issue originates from a previous comment in a different PR ( https://github.com/mozilla/mozdownload/pull/95/files#r5856846 )

This issue depends on pull #95

[2013-08-20 16:50] #10 closed, assigned to nobody

[2013-08-21 20:22] #123 closed, assigned to nobody

[2013-08-22 15:31] davehunt opened #135 "Investigate depending on (or merging in) getb2g for support of B2G builds"
We should see if we can depend on (or even merge) @ahal's https://github.com/ahal/getb2g project into mozdownload. Currently we are close to supporting the desktop builds, however getb2g supports device, desktop, and emulator builds. It would be awesome to have this support in mozdownload.

[2013-08-22 20:41] whimboo opened #136 "Release mozdownload 1.9"
As of now the fix in issue #103 is blocking us from getting the l10n dep builds executed in our mozmill-ci production environment.

Given that I want to get the l10n test execution moved over from the old mac mini in MV office network, I don't want to wait for a mozdownload 1.9 release.

I would suggest the following:
1. We create a branch off the 1.8 tag
2. We transplant issue #103
3. We update t

[2013-08-22 22:11] whimboo opened #138 "Trying to download a linux64 tinderbox build results in a linux 32bit build"
I'm not able to download a 64bit tinderbox build:
mozdownload -t tinderbox --branch mozilla-aurora -l nl -p linux64

Downloading from: https://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-aurora-l10n/firefox-25.0a2.nl.linux-i686.tar.bz2

[2013-08-27 09:38] whimboo opened #141 "Add test for HTTP Basic Authentication"
We need a test to ensure that we do not break our HTTP basic authentication support in the future. As testcase we can use the page, which will be soon available via https://bugzilla.mozilla.org/show_bug.cgi?id=895835.

[2013-08-27 11:38] Nebelhom opened #142 "Tinderbox manual test cases need to be updated"
On using the test cases for a bug fix, I noticed that some of them do not work, but the cause was unrelated to my fix. I think we need to update that list. The results I found are shown below:

the el locale does not exist

This is due to the builds getting out of date and removed at some point. We would need to mark in the test case that it is necessary to find your own valid dates to test them.

[2013-08-27 11:46] Nebelhom opened #143 "TinderboxScraper: Omit folders without binaries"
Issue #11 implemented in the DailyScraper that empty folders are omitted from the binary search.

We would need this for the TinderboxScraper, too.

Here is a current test and its traceback:

`mozdownload -a firefox -t tinderbox -p linux --branch=mozilla-central`

`Retrieving list of builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-central-linux
Found 209 builds

[2013-08-27 11:55] Nebelhom opened #144 "Mac64 tinderbox builds have inconsistent filenames"
This issue is dependent on issue #138 and should only be handled once that one is landed.

On using a more stringent binary regex, I have noticed that the mac64 builds are sometimes named mac64 and sometimes not.

`mozdownload -a firefox -t tinderbox -p mac64 --branch=mozilla-central`

`Retrieving list of builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-central-

[2013-08-27 17:58] #138 closed, assigned to nobody

[2013-08-28 16:50] #29 closed, assigned to nobody

[2013-08-28 19:49] #130 closed, assigned to nobody

[2013-08-28 20:44] ghost opened #146 "Refactoring of download with retry support"
There are many places in code which require to download something from remote server.
Moreover, we support case when timeout occurred and then we retry downloading of information.
However, in current state it's really ugly implemented (by many while True) and should be changed into something more readable (contextmanager?) and managable as a pattern.

[2013-08-28 22:01] #115 closed, assigned to nobody

[2013-08-28 22:32] whimboo opened #148 "Candidate scraper does not output list of found builds if --build-number has been specified"
This seems to be a problem for candidate builds only. It works fine for daily builds.

[2013-08-28 22:37] whimboo opened #149 "If multiple builds have been found, output the selected build"
As of now we show a list of found builds but don't output the selected build. That might be helpful for diagnosing issues if the download fails.

What would be nice:

[2013-08-28 22:51] #136 closed, assigned to nobody

[2013-08-29 16:15] whimboo opened #150 "--version option gives an error"
I thought we already have the --version option for mozdownload, but as of now it fails to execute. Interesting. We should print out the current version, similar to Mozmill.

UPDATE:

Ok, we have that option but it errors out:

mozdownload: error: --version option requires an argument

[2013-09-02 14:46] whimboo opened #153 "Cannot download builds from ftp.mozilla.org due to proxy connection issues"
As seen today with our new mozmill-env 1.5.22 environment, which includes mozdownload 1.9, we are no longer able to download files if a proxy is involved. For details see [bug 911750](https://bugzilla.mozilla.org/show_bug.cgi?id=911750).

I would suspect the change to the requests module. I will check that soon and find the regression range.

[2013-09-02 20:26] #153 closed, assigned to nobody

[2013-09-02 22:12] #148 closed, assigned to nobody

[2013-09-03 20:56] Nebelhom opened #154 "Misnomer: scraper.platform_regex is not a regex"
The platform_regex attribute is chosen via

and the values in PLATFORM_FRAGMENTS are all just strings. Not a regular expression at all.

see https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#l202

We should give a different name to `platform_regex`. The name is misleading.

[2013-09-04 09:55] #150 closed, assigned to nobody

[2013-09-09 11:11] Nebelhom opened #155 "TimoutException Test: a mozhttpd subclass with a delayed HTTP response and unittest"
This issue can only be worked on once [this pull request](https://github.com/mozilla/mozdownload/pull/137) is landed.

In order to write a test for the TimeoutException in the scraper class, we would ideally need a mock server that can give a delayed HTTP response. We are using mozhttpd as our mock server, so presumably a subclass of the RequestHandler is needed, but I think this is open for discu

[2013-09-09 11:18] Nebelhom opened #156 "Write complete unittests for the ReleaseScraper class"
This issue can be worked on once [this PR](https://github.com/mozilla/mozdownload/pull/137) has been landed.

With the above mentioned PR, we have a simple preliminary test for the ReleaseScraper class. I would like to start getting rid of all the manual tests, so we best start writing automated tests for this one and use the tests as a template for the ones to follow.

Here is the list of tests t

[2013-09-09 13:20] #116 closed, assigned to nobody

[2013-09-11 18:22] whimboo opened #157 "Enhance Travis CI job with more validity checks"
Lets consider adding pyflake to our travis ci job description. That would help us even more to have sane code in our repository.

[2013-09-15 07:02] Nebelhom opened #159 "Write unittests for the DailyScraper Class"
Implement all the current manual tests for the DailyScraper class and then remove them from the list of manual test cases. At the moment, these are:
### Firefox

### Thunderbird

[2013-09-15 07:03] Nebelhom opened #160 "Write unittests for the ReleaseCandidateScraper Class"
Implement all the current manual tests for the ReleaseCandidateScraper class and then remove them from the list of manual test cases. At the moment, these are:
### Firefox

### Thunderbird

[2013-09-15 07:05] Nebelhom opened #161 "Write unittests for the TinderboxScraper Class"
Implement all the current manual tests for the TinderboxScraper class and then remove them from the list of manual test cases. At the moment, these are:
### Firefox

### Thunderbird

[2013-09-24 09:27] ghost opened #163 "Refactoring of get_build_info for DailyScraper class"
It's part of work, I've done for my issue connected with selecting all locales.
It considers following operations:
- moving whole last else part which retrieves date of latest build into separate method
- get_build_for_date can be executed in one place at the end of method
- has_time parameter isn'nt necessary and can be safely replaced by usage of date.time() method

[2013-09-24 09:41] ghost opened #164 ""all" locales support for Release/Candidate Scrapers"
As overall work done for #118 is a little to big for review i've reconsidered to split this into smaller parts which should be easier for review.
First thing i want implement it's a suport of all locales and option of show available locales only for release/candidate scrapper as a first batch of changes.

[2013-09-28 08:46] Nebelhom opened #167 "Name of downloaded stub installer is not marked as such"
When downloading a stub installer by using, for example,

`mozdownload -p win32 -v latest --stub`

The downloaded filename does not have a 'stub' in the name. The name should be different from the standard installer.

[2013-09-28 09:45] ghost opened #168 "Port run_tests.sh to windows platform."
I think it would be good idea to port this bash script into python. It would be more portable between *nix-like platforms and windows.

[2013-09-28 17:46] Nebelhom opened #169 "version argument in get_build_info_for_version unused"
I noticed that in `get_build_info_for_version` the `version` argument is never used.

https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#l576

Is this an artefact of a previous fix? Can we remove it (and fix all calls to this method)?

[2013-09-30 13:39] #156 closed, assigned to nobody

[2013-09-30 14:57] Nebelhom opened #171 "Test for target url in unittests for directscraper and releasescraper"
I have forgotten to include a test for the correctness of the target url from which to download the file in both the directscraper and the releasescraper unittests.

This still needs to be implemented.

[2013-10-01 06:52] whimboo opened #173 "Update tinderbox scraper to use the long term mozilla-inbound server"
With the fix in [bug 765258](https://bugzilla.mozilla.org/show_bug.cgi?id=765258) we got a long term archive for tinderbox builds. Our scraper should make use of it.

The location is:
http://inbound-archive.pub.build.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/

We might want to use it as a fallback for ftp.mozilla.org.

[2013-10-10 16:44] Nebelhom opened #175 "Unittests: Set logger output to ERROR"
With our first unit tests being landed, we notice that there is a lot of standard output by the scraper in between the testing. Ideally, all we want is the error output of the logger (if any), otherwise it should run through without any output by the logger at all.

Let's adjust the logger output level to ERROR when using unit tests. I would also like to see the progressbar being suppressed for th

[2013-10-11 14:19] whimboo opened #176 "AttributeError: 'NoneType' object has no attribute 'strip' when downloading a file via direct scraper"
$ mozdownload --url https://bug911048.bugzilla.mozilla.org/attachment.cgi?id=811671
  INFO | Downloading from: https://bug911048.bugzilla.mozilla.org/attachment.cgi?id=811671
Traceback (most recent call last):
  File "/home/henrik/.virtualenvs/mozdownload/bin/mozdownload", line 9, in <module>
    load_entry_point('mozdownload==1.9', 'console_scripts', 'mozdownload')()
  File "/mozilla/code/mozdown

[2013-10-18 13:31] #159 closed, assigned to nobody

[2013-10-24 13:12] whimboo opened #177 "Tests do not work due to version conflict with mozinfo 0.6"
When I try to run the tests for mozdownload we are failing with a version conflict for mozinfo:

Traceback (most recent call last):
  File "tests/test.py", line 74, in <module>
    main()
  File "tests/test.py", line 66, in main
    unittest_results = test_all(manifest)
  File "tests/test.py", line 41, in test_all
    unittestlist.extend(get_tests(test['path']))
  File "tests/test.py", line 25, in

[2013-10-25 15:39] #177 closed, assigned to nobody

[2013-10-25 18:57] whimboo opened #179 "Don't run local http server for tests on port 8080"
I'm colliding with this issue once in a while, majorly when I also work on Jenkins stuff beside. It's also using port 8080 for the webserver part. So our tests cannot be run because the port is in use.

Can we please get a free port instead of specifying a hard-coded one?

[2013-10-25 19:00] #160 closed, assigned to nobody

[2013-10-25 19:02] #163 closed, assigned to nobody

[2013-10-25 21:08] Nebelhom opened #180 "Allow for stub installer downloads in tinderbox builds"
While writing the unittests for the tinderboxscraper I noticed that we do not allow for the download of stub installers in firefox yet.

This needs to change. And once that is done uncomment the stub installer test in the unittest.

[2013-11-07 15:12] aleksejrs opened #181 "tinderbox builds selected using human-readable date have no unique file name"
If I use  "-t tinderbox --date=1383739795", the "1383739795" is preprended instead of the ordinary date.
If I use "-t tinderbox --date=2013-11-06 [-build-num=3]", the file name is not changed, so it is not unique at all.

[2013-11-13 20:01] aleksejrs opened #182 "Old nightly builds aren't downloaded because they are located under 'trunk'"
$ mozdownload -t daily --date=2008-02-20 -p linux
(works)
$ mozdownload -t daily --date=2008-02-19 -p linux
Retrieving list of builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/2008/02
Traceback (most recent call last):
  File "…/virtualenv/bin/mozdownload", line 9, in <module>
    load_entry_point('mozdownload==1.9', 'console_scripts', 'mozdownload')()
  File "…/virtualenv/local

[2013-11-14 21:42] #161 closed, assigned to nobody

[2013-11-18 18:23] #171 closed, assigned to nobody

[2013-11-18 18:34] #180 closed, assigned to nobody

[2013-11-18 20:43] whimboo opened #184 "Release version 1.10"
We have to release version 1.10 of mozdownload for the upcoming mozmill-automation v2.0.1 package. The following tasks have to be performed:
- [x] Update setup.py and bump to mozinfo==0.7
- [x] Update changelog
- [x] Tag version 1.10
- [x] Release to pypi

[2013-11-18 22:18] #119 closed, assigned to nobody

[2013-11-19 07:26] #184 closed, assigned to nobody

[2013-12-01 18:34] aleksejrs opened #190 "When --date is specified, infer -t daily (instead of asking for a version)."
[code]

If I specify a version, it downloads that version (apparently ignoring the date).  It should infer "-t daily".

[2013-12-03 08:12] #190 closed, assigned to nobody

[2013-12-19 17:44] goinnn opened #191 "The total_seconds function is not backward compatible"
The total_seconds function is not backward compatible for timedelta very little

https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L242

If this is less than a second always returns 0. If you want to fix this issue only you have to update with this code:

[code]

[2013-12-20 11:05] #175 closed, assigned to nobody

[2014-01-09 09:45] whimboo opened #193 "Failure in downloading builds due to timezone difference"
I wanted to download the build from:
Index of /pub/mozilla.org/firefox/nightly/2013/12/2013-12-01-mozilla-central-debug

It has been build right before midnight and its build id is 20131130032017. Downloading the build via the --build-id gives a failure:

$ mozdownload -t daily --debug --build-id 20131130032017
Retrieving list of builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/

[2014-01-24 21:43] davehunt opened #194 "Allow the content-length header to be missing"
Currently we fail if the content-length header is not present:

We need a test and a fix for this.

[2014-01-24 21:47] davehunt opened #195 "Support downloading from sites with optional authentication"
It seems that if we provide `(None, None)` as auth for a site that supports optional authentication, such as Jenkins, we get an authorization required response.

  INFO | Downloading from: https://ci.mozilla.org/
Traceback (most recent call last):
  File "/Users/dhunt/.virtualenvs/mozdownload/bin/mozdownload", line 8, in <module>
    load_entry_point('mozdownload==1.10', 'console_scripts', 'mozdow

[2014-01-28 12:53] cosmin-malutan opened #196 "build_filename in TinderboxScraper, fails to determine if self.timestamp is date type"
Running l10n testruns on mac saves the build with string "$DATE" attached, if no date parameter is given in the job.
This happens because we don't check if the self.timestamp in build_filename method is really a date type, but only if is different from None.
Similar to the method build_filename from DailyScraper we should try-catch the striping of timestamp, if is not a valid date we shouldn't add

[2014-02-01 12:38] whimboo opened #199 "Log the name of the output file for discovery"
As of now we only log the target url we are download the file from but not the location of the file we store it. this will help us a lot for investigation.

[2014-02-01 17:14] #199 closed, assigned to nobody

[2014-02-03 13:57] whimboo opened #201 "Adjust mozbase package dependencies to be more flexible"
As of now we have strict dependencies to modules we make use of from mozbase. This causes lots of trouble when it comes to the inclusion of mozdownload into other mozilla projects. We should be loosely and only set the minimum version of other mozbase packages. But that also means that whenever an API change happens in such a package, we have to bump mozdownload.

But this will happen lesser than

[2014-02-03 14:46] whimboo opened #203 "Release version 1.11"
We have to release version 1.11 of mozdownload for the upcoming mozmill-automation v2.0.4 package. The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [x] Tag version 1.10
- [x] Release to pypi

[2014-02-03 15:28] aleksejrs opened #204 "mozdownload -t tinderbox --url=… → TypeError: __init__() got an unexpected keyword argument 'debug_build'"
[code]

[2014-02-03 19:42] #201 closed, assigned to nobody

[2014-02-04 08:52] #203 closed, assigned to nobody

[2014-02-04 09:38] whimboo opened #206 "Installing of mozdownload 1.11 fails because of not-found requirements.txt"
As what I have seen we currently are failing to install mozdownload 1.11 because the new requirements.txt file cannot be found:

Processing mozdownload-1.11.tar.gz
Writing /tmp/easy_install-G76Wo6/mozdownload-1.11/setup.cfg
Running mozdownload-1.11/setup.py -q bdist_egg --dist-dir /tmp/easy_install-G76Wo6/mozdownload-1.11/egg-dist-tmp-zmg6HX
error: requirements.txt: No such file or directory

This

[2014-02-04 09:52] #206 closed, assigned to nobody

[2014-02-04 09:54] whimboo opened #207 "Release version 1.11.1"
We have to release version 1.11.1 of mozdownload to fix the broken handling of the requirements.txt file. The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [x] Tag version 1.11.1
- [x] Release to pypi

[2014-02-04 10:09] #207 closed, assigned to nobody

[2014-02-17 09:12] whimboo opened #209 "Add Travis build status to Readme file"
We should show the build status of Travis to indicate which health our repository has. Therefore we should include something like:

Build status: [![Build Status](https://travis-ci.org/mozilla/mozdownload.png)](https://travis-ci.org/mozilla/mozdownload)

[2014-04-02 21:46] #196 closed, assigned to nobody

[2014-05-19 10:36] #168 closed, assigned to nobody

[2014-05-19 13:31] #191 closed, assigned to nobody

[2014-05-22 15:42] Nebelhom opened #211 "Change our current progressbar package"
Our current progressbar library is not maintained any more (last update 2011), has some shortcomings with regards to unknown file sizes (see #194 ) and is not easily extendible.

It might be best to switch to a new library here and while we're at it, maybe take a lightweight one that is easily extendible and fit it to our needs.

Whimboo has already made a suggestion:

https://pypi.python.org/pypi

[2014-05-23 09:17] #194 closed, assigned to nobody

[2014-05-26 09:51] whimboo opened #214 "test_direct_scraper.py should make use of local http server and not mozqa.com"
Right now the given tests wants to download a file from mozqa.com. It should really get if from the locally served pages via mozhttpd.

[2014-05-26 10:00] whimboo opened #215 "`mac` platform option for tinderbox builds should default to `macosx64`"
I think we can get rid of `mac64` as option. I don't see any tinderbox builds existent for 32bit only, even not in the long-term archive: http://inbound-archive.pub.build.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/.

So `mac64` should be removed, and `mac` should become the default.

[2014-06-01 13:25] kossy opened #217 "Refactor docstrings which don't confirm PEP 257"
I noticed that some of the docstrings are not formatted properly.

For example:
[code]

The docstrings should be triple double-quoted I think.

For example:
[code]
 I have only noticed this with the get_build_info functions of the scrapers in scraper.py but there may be more instances of this.

[2014-06-03 08:49] #144 closed, assigned to Nebelhom

[2014-06-04 19:00] whimboo opened #218 "mozdownload should grab candidate builds from candidates/ and not nightly/"
We got informed by @bhearsum that we should not grab candidate builds for Firefox from the [firefox/nightly/](http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/) folder, but from [firefox/candidates](http://ftp.mozilla.org/pub/mozilla.org/firefox/candidates/).

[2014-06-17 06:48] #209 closed, assigned to Ayrx

[2014-06-25 09:43] #218 closed, assigned to jayrajput

[2014-08-13 10:11] whimboo opened #223 "Add batch for coveralls (test coverage indication)"
As seen lately on https://github.com/mozilla/kuma-private, the test coverage indication sounds pretty interesting. It's something we might also want to have for mozdownload. As it looks like they are using the [coveralls-python](https://github.com/coagulant/coveralls-python) package for that purpose.

[2014-09-01 19:52] #104 closed, assigned to Nebelhom

[2014-09-01 20:01] whimboo opened #224 "Localized b2g desktop builds cannot be found"
I tried to download some builds for b2g desktop and as it looks like we cannot download localized builds, which should all be part of the multi package:

$ mozdownload -a b2g -t daily --branch mozilla-aurora -l da
  INFO | Retrieving the build status file from https://ftp.mozilla.org/pub/mozilla.org/b2g/nightly/latest-mozilla-aurora/
  INFO | Retrieving list of builds from https://ftp.mozilla.org/

[2014-09-03 07:17] whimboo opened #226 "Catch KeyboardInterrupt exception to not show a full stack on abort"
Right now when you abort mozdownload while it's downloading a file you see a full stack for the KeyboardInterrupt exception. That's not pretty helpful. So we should catch this type of exception in main, and simply print a message like "Download interrupted by the user".

[2014-09-03 07:58] #149 closed, assigned to Nebelhom

[2014-09-10 09:22] #224 closed, assigned to nobody

[2014-09-10 09:29] whimboo opened #227 "Release version 1.12"
We want to release version 1.12 of mozdownload, which includes a couple of bug fixes but even some great new features.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [x] Tag version 1.12
- [x] Release to pypi

[2014-09-10 09:56] #227 closed, assigned to nobody

[2014-09-10 15:58] sydvicious opened #229 "mozdownload corrupts x86_64.tests.zip files"
mozdownload --type=daily --platform=linux64 --extension=tests.zip

Listing the contents of the resulting file (in this case 2014-09-09-00-40-04-mozilla-aurora-firefox-34.0a2.en-US.linux-x86_64.tests.zip) fails:

error:  expected central file header signature not found (file #70624).
  (please check that you have transferred or created the zipfile in the
  appropriate BINARY mode and that you have

[2014-09-10 18:59] #229 closed, assigned to nobody

[2014-11-21 12:16] #226 closed, assigned to jasonwist

[2014-11-25 15:35] whimboo opened #232 "Wrong output of selected build (by index and not by name)"
When running the following command the output of the selected build is wrong. Instead of build1 we show build0:

  INFO | Retrieving list of candidate builds from https://ftp.mozilla.org/pub/mozilla.org/firefox/candidates/34.0-candidates/
  INFO | Found 1 build: build1
  INFO | Selected build: build0

[2015-01-02 12:26] jasonwist commented on #214
Yeah, it's been a while since I was looking at this (new job + being sick).

Where can I find mozhttpd? I can see it being imported/used in mozhttpd_base_test but I can't find the where it (mozhttpd) and it's methods are defined.

[2015-01-05 13:47] whimboo commented on #214
The document root of the server always points to `/tests/data`, so what you need in the test is self.wdir as defined here: https://github.com/mozilla/mozdownload/blob/master/tests/mozhttpd_base_test.py#L43

Here an example in how to use the local web server for serving content:
https://github.com/mozilla/mozdownload/blob/master/tests/base_scraper/test_base_scraper.py#L33

Please let me know if you

[2015-01-07 08:58] whimboo commented on #217
This issue is still valid. PR #219 was closed because @Ayrx was not able to continue on the patch. @delta-nry if you want to take it, please feel free.

[2015-01-14 10:36] whimboo commented on #176
The fix for issue #198 landed a while ago and this is fixed.

[2015-01-14 10:36] #176 closed

[2015-01-14 10:39] whimboo commented on #142
Manual testcases are listed at https://github.com/mozilla/mozdownload/blob/master/tests/test_cases.md. So it would be good to check what needs to be done here. If there are remaining tests to write lets do it.

[2015-01-14 11:23] ujjwalwahi commented on #92
I would like to work on this

[2015-01-14 11:33] whimboo commented on #92
Ujjwal, you are welcome! Let me know if you need help. Also in regards of the patch, we will need an automated test which verifies the functionality of the new feature. Thanks!

[2015-01-16 18:05] whimboo commented on #154
PR #233 has been merged.

[2015-01-16 18:05] #154 closed

[2015-01-18 14:18] Nebelhom opened #236 "invalid branch tests in DailyScraper Tests"
I noticed that there are still some error messages to be tested in the manual `test_cases.md`.

This issue addresses the those testing the error message involved when passing an invalid branch to `DailyScraper`

[2015-01-22 20:05] Nebelhom opened #238 "Manual thunderbird tinderbox test_case is wrong"
I just noticed earlier that the following manual test case in `test_cases.md` is wrong

`mozdownload -a thunderbird -t tinderbox -p linux --branch=mozilla-central --extension=txt`

It should be `--branch=comm-central`

Unless we are implementing this test_case any time soon, I would say this is a great first patch for a newcomer.

[2015-01-27 20:23] Nebelhom commented on #211
@whimboo @davehunt

FYI.

Looks like someone picked up the old progressbar package, forked it from the source and carried it on.

https://pypi.python.org/pypi/progressbar2

[2015-01-28 19:33] Nebelhom commented on #143
@whimboo

I am looking for a good test case, but I cannot find a recent folder that is still empty.

Any suggestions?

[2015-01-28 20:23] whimboo commented on #143
This might be very hard to find. Maybe directly create testcases for mozhttpd?

[2015-01-29 01:54] jasonwist commented on #214
How can I test to see if my changes have worked?

[2015-01-29 01:57] EricRahm opened #239 "Add support for Firefox try builds"
It would be useful to support downloading builds produced by a try run. In particular I'd like to use this feature in the mozilla/areweslimyet project.

[2015-01-29 11:58] whimboo commented on #238
Agreed. Marking as a mentored issue then.

[2015-01-29 18:23] EricRahm opened #241 "Add support for verifying downloaded file's SHA-512 hash"
Each build has an associated |<product>...<locale><platform>.checksums| file. The SHA-512 hash contained in the file could be used to verify the hash of the download.

Proposal:
  - Add a |--verify| flag
  - Download the checksums file and verify the the SHA-512 hash for the download matches
  - If the hash fails follow the standard retry logic already in place

[2015-01-30 12:19] whimboo commented on #214
There is a `run_tests.py` script in the root folder of the repository. Just run it and you will see if all the tests will pass, or if a failure is around for your changes.

[2015-01-31 09:00] Nebelhom commented on #143
@whimboo I was worried about that option. It means that I have to rely on a test case that I wrote ;)

It's ok though, I managed to mimic it now. Let's see if I get anywhere with it.

[2015-02-03 18:09] jasonwist commented on #214
I tried to inherit self.wdir from mhttpd_base_test (how I assume BaseScraperTest was getting access to it) but that wasn't working, so now I'm implementing all the steps to get wdir in TestDirectScraper.

Was I on the right path before?

Also why does urljoin() use 'download_test.txt' in BaseScraperTest? Is that the name of a file we are downloading?

[2015-02-03 22:26] whimboo commented on #214
`self.wdir` will automatically be available if you inherit the test case class from mhttpd.MozHttpdBaseTest. So you can just use it as in BaseScraperTest:

https://github.com/mozilla/mozdownload/blob/master/tests/base_scraper/test_base_scraper.py#L35

urljoin() is indeed used to specify the url to a locally hosted test file. You can find it here: https://github.com/mozilla/mozdownload/blob/master/

[2015-02-05 16:09] andreeamatei opened #243 "Cannot download win64 bit builds of Firefox anymore"
Our testruns failed today on win64 nodes, not being able to find today's build.
This command will show the error:
mozdownload --type=daily --branch=mozilla-central --platform=win64 --locale=en-US --build-id=20150205030205
While 32bit works.

07:13:54 [mozilla-central_functional] $ cmd.exe /C '"mozmill-env-%ENV_PLATFORM%\run mozdownload --type=%BUILD_TYPE% --branch=mozilla-central --platform=%PLATF

[2015-02-05 22:03] whimboo commented on #243
I will work on that. Updating the tests take a bit more time here, so a PR should be around tomorrow. I will temporarily disable testing win64 builds in mozmill-ci production.

[2015-02-08 13:40] Nebelhom opened #245 "Change name of is_build_dir - title misleading"
As discussed during PR #242 (fixing issue #143) the method `is_build_dir` does not return a Boolean. As a consequence it is a misleading title.

We should change the name of the method to something more fitting.

This issue depends on #143 being fixed first so that we do not have to fix it twice.

[2015-02-09 07:11] whimboo commented on #241
@EricRahm I assume this hash only applies to the installer binaries to download, but not all the other files including the .zip file for Windows.

[2015-02-09 09:40] whimboo commented on #182
I don't think it is a good investment of time to get this fixed. The use of such old nightlies will be very very low, and in those cases they could be manually downloaded.

[2015-02-09 09:40] #182 closed

[2015-02-09 20:15] EricRahm commented on #241
@whimboo There's a hash for every build file. For example: https://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/2015/01/2015-01-29-03-02-02-mozilla-central/firefox-38.0a1.en-US.win64-x86_64.checksums includes both the installer and the zip.

[2015-02-10 08:45] whimboo opened #247 "Default branch for Thunderbird should be comm-central and not mozilla-central"
Trying to download the latest nightly of Thunderbird fails because mozdownload assume mozilla-central:

We might need a new mapping which specified the default branch for each application separately.

[2015-02-10 15:20] whimboo commented on #243
PR #248 got merged.

[2015-02-10 15:20] #243 closed

[2015-02-10 15:21] whimboo commented on #195
PR #230 got landed earlier today. So this will be available with the next 1.13 release.

[2015-02-10 15:21] #195 closed

[2015-02-10 16:13] whimboo commented on #241
Ah, great. Thanks. Sounds like a good improvement.

[2015-02-10 17:30] whimboo opened #249 "Release version 1.13"
We want to release version 1.13 of mozdownload.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.13
- [ ] Release to pypi

[2015-02-10 19:00] Nebelhom commented on #245
@whimboo

This issue is a good first patch, I think. All it needs, is changing the function name to something that does not suggest a boolean as a result.

[2015-02-11 18:02] whimboo commented on #143
PR #242 has been merged and this will be in the 1.13 release now!

[2015-02-11 18:02] #143 closed

[2015-02-11 18:50] whimboo opened #250 "Stop running Travis CI tests for Python 2.6"
All of our systems have been upgraded to Python 2.7, so I do not see any need to let Travis CI run tests via Python 2.6. This version of Python should not be used anymore. So lets get it removed.

[2015-02-11 18:54] whimboo commented on #239
PR #240 has been merged.

[2015-02-11 18:54] #239 closed

[2015-02-11 19:27] whimboo commented on #249
Tagged as 1.13:
https://github.com/mozilla/mozdownload/commits/1.13

Released to pypi:
Submitting dist/mozdownload-1.13.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2015-02-11 19:27] #249 closed

[2015-02-11 19:50] Nebelhom opened #252 "Change source of builds from FTP to CDN"
Looks like there is a source of our builds a bit closer to home

The CDN servers have all our builds in it, as well, and they appear to be faster. Check it out on http://download.cdn.mozilla.net/pub/

Maybe we can try to navigate to those first and if it does not work fall back as a safety to the ftp servers.

[2015-02-12 01:21] EricRahm opened #253 "Large regression in tinderbox download times"
It looks like c73e81463c11cd9667d58322390fa99b6a35b135 caused a very large regression in the amount of time it takes to lookup a tinderbox build. The `is_build_dir` check needs to be moved, the simple solution would be to move it to *after* we filter by timestamp / date.

[2015-02-12 17:17] whimboo commented on #253
Thanks Eric! So it is a regression from issue #143. If that regression is important for you to get fixed we could do it quickly and get a follow-up release out.

[2015-02-12 17:20] EricRahm commented on #253
@whimboo yes, it's causing several minute delays per build.

[2015-02-14 11:47] Nebelhom opened #255 "DailyScraper: Limit checks for non-empty build dirs"
We should implement the same change in calling `is_build_dir` for the `DailyScraper` as we have done for `TinderboxScraper` in PR #254 .

[2015-02-14 11:51] Nebelhom opened #256 "One-time Authentication error in run_tests.py"
I came across an unrepeatable error when running `./run_tests.py` for PR #254 . I could not repeat it afterwards (tests ran fine), and it appears to be an unrelated issue. Nonetheless, I wanted to make everyone aware of it.

Could this be an issue in the future?

[code]

[2015-02-14 12:35] Nebelhom opened #257 "Test: Correct Choice of Scraper"
This are tests that still needs automation and are inter-related.

[code]

[2015-02-14 12:45] Nebelhom commented on #257
@whimboo @davehunt and anyone else knowledgeable in writing tests.

I have been pondering over this particular implementation for quite some time, but cannot find a good solution of it.

Essentially, when implementing this, we need to call the `cli()` function and then check if we have the correct scraper. Anything else, in my eyes, is not really testing but writing a function that gives you a pre

[2015-02-16 10:52] whimboo commented on #252
@nthomas-mozilla, we have heard rumors that CDN might go away in the future in favor of S3. Would it hurt if we temporarily at least make use of CDN until that happens? We would get some nice speed enhancements that way at least here in Europe.

[2015-02-16 12:55] whimboo commented on #257
Personally I would say that we have perfect coverage for that already. I don't think we have to invest our time for checking if the correct scraper has been used. Reason is that if a wrong scraper would have been chosen, other existing tests would fail. There might only be a small gap here between release and candidate scrapers. But even there we have to `buildX` part we expect for the latter.

So

[2015-02-16 13:13] whimboo commented on #256
Looks like the mozhttpd process was still running in the background, or another tool used exactly the same port? It might be better to not hard-code our HTTP port of the local web server but choose a free one instead.

[2015-02-16 13:29] whimboo commented on #253
Definitely something we want to have for the 1.14 release.

[2015-02-16 13:36] whimboo commented on #215
@Nebelhom it looks like the summary was not that good! Sorry, that it makes it hard to understand for you. I updated the summary now, and hope it's better.

[2015-02-16 16:14] Ethcelon commented on #256
@whimboo It's because mozhttpd_base_test has a hard coded port number (8080). I was able to replicate it by running another service on the same port. But the funny thing is for me every test failed except test_url_download which does not inherit from mhttpd.MozHttpdBaseTest. But @Nebelhom 's run shows other tests running.

[2015-02-16 22:05] nthomas-mozilla commented on #252
It's fine to use the CDN, and don't worry about how ftp.m.o may change in future (deal with it then!).

Out of curiosity though, do you think it'll help a lot ? Not sure how it will if cache hits are unlikely, as the CDN still needs to talk to ftp.m.o to get a copy. eg I used a shell server in Germany and requested a random nightly directly, and got 5MB/s retrieving 46M, ie 9.1s. Repeating that no

[2015-02-17 12:55] whimboo commented on #252
Thanks @nthomas-mozilla for the reply!

Mostly I expect improvements for releases here. I have had a couple of situations in the past months when I tried to download such a build during a release day or so. The download rates are very low. But also on each and every day I can see large drops in the throughput with ftp.m.o in the afternoon my time, which is when US folks are waking up. Download rat

[2015-02-17 12:59] whimboo commented on #256
@Nebelhom were you able to reproduce that with further testruns? Or did this really happen only once?

[2015-02-17 18:01] Nebelhom commented on #256
@whimboo @Ethcelon

I repeated the test about 6 or 7 more times and it did not occur, which was odd. At that point, I went and reported the issue in case it occurs with someone else.

That way, we would know if this was just a freak occurrence or a true bug that was intermittent and hard to catch.

So to answer your question, no, I was not able to reproduce it.

Btw. we do already have an issue as

[2015-02-17 18:05] Nebelhom commented on #245
@whimboo

I have seen that by now, the function `is_buid_dir` does in fact return `True`or `False`.

https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#l844

Unless you disagree, I think we can close this issue...

[2015-02-17 18:35] Nebelhom commented on #257
@whimboo

I think you forget that we never test if the scraper chooses the right type. For our tests, we directly invoke the correct type for those tests. Check the following link:

https://github.com/mozilla/mozdownload/blob/master/tests/daily_scraper/test_daily_scraper.py#l318

So as you can see, for all the tests that we are doing, we directly create an instance of `DailyScraper`, rather than l

[2015-02-20 06:52] whimboo commented on #256
If that really happened only once I strongly assume it was a side-effect on your machine and that this port was partly in use while the tests were running. Given that some tests passed it should have been acquired and freed quickly. It's strange but I do not have another explanation for it yet. Issue #179 would be good to get fixed. @Ethcelon would you try that?

[2015-02-20 10:09] Ethcelon commented on #256
I'd love to! @whimboo: what should be our strategy for choosing a free
port? Will this be a change to the server code or the test code?

On Fri, Feb 20, 2015 at 12:22 PM, Henrik Skupin <notifications@github.com>
wrote:

--

Om Bhallamudi
about.me/Om.Bhallamudi
[image: Om Bhallamudi on about.me]
  <http://about.me/Om.Bhallamudi>

[2015-02-20 13:45] davehunt commented on #256
I believe if you pass 0 as the port a random free port will be selected by the server.

[2015-02-23 19:06] sydvicious opened #258 "mozdownload cannot load tinderbox zip builds for Windows"
mozdownload --type=tinderbox --platform=win32 --extension=zip --branch=mozilla-beta

The regular expression at line 760 ends up looking for firefox*.en-US.win32.installer.zip, which it won't find.

        regex_base_name = r'^%(APP)s-.*\.%(LOCALE)s\.%(PLATFORM)s'
        regex_suffix = {'linux': r'.*\.%(EXT)s$',
                        'linux64': r'.*\.%(EXT)s$',
                        'mac': r'

[2015-02-26 14:24] whimboo commented on #253
PR #254 has been merged! Thank you @EricRahm for fixing it!

[2015-02-26 14:37] whimboo commented on #258
We want this fix in the next release 1.14.

[2015-02-26 14:48] whimboo commented on #257
Oh! I see now. You are right. Personally I wouldn't put too much work in it. So what if we simply invoke mozdownload via mozprocess and a CLI command? We know the expected filename, and could compare it. It's not perfect but would at least check the right choice of the scraper. What do you think?

[2015-02-26 15:21] whimboo commented on #256
@Ethcelon I would suggest we head over to issue #179 and leave this issue alone for now. Not sure if we will see it again. Otherwise what @davehunt suggested sounds fine! Let me know on issue #179 if you want to still work on it. Thanks.

[2015-02-27 12:49] whimboo commented on #253
It looks like we may have a problem with index==0. We have to check that.

[2015-03-02 15:27] whimboo commented on #215
PR #235 has been merged. Thanks!

[2015-03-02 15:27] #215 closed

[2015-03-02 16:19] whimboo commented on #236
PR #237 has been merged.

[2015-03-02 16:19] #236 closed

[2015-03-02 16:27] whimboo commented on #232
PR #261 has been merged.

[2015-03-02 16:27] #232 closed

[2015-03-02 16:35] whimboo commented on #252
Removing from 1.14 milestone given that we most likely have to wontfix this request. See PR #260.

[2015-03-02 23:08] sydvicious commented on #258
Supercded by #264

[2015-03-02 23:08] #258 closed

[2015-03-03 20:13] whimboo commented on #92
PR #234 has been merged. Thanks a lot!

[2015-03-03 20:13] #92 closed

[2015-03-03 20:15] whimboo commented on #255
@nebelhom, would you have time for that? I wonder how important it is for 1.14, and if we could post-pone it for 1.15.

[2015-03-04 10:41] whimboo commented on #253
I checked this myself and it's only an issue of what we actually print out as failure message for the URL. It's not critical and if necessary can be fixed in another issue. For details see: https://github.com/mozilla/mozdownload/pull/254/files#r25765397. Closing out this issue.

[2015-03-04 10:41] #253 closed

[2015-03-04 10:42] whimboo opened #265 "Release version 1.14"
We want to release version 1.14 of mozdownload.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.14
- [ ] Release to pypi

[2015-03-04 22:40] whimboo commented on #255
We will postpone this fix to the next release. It doesn't look critical due to a much lower number of builds in the builds folder.

[2015-03-04 22:41] whimboo commented on #265
All issues we wanted to solve are done. I will check all tomorrow morning so we can do a release then.

[2015-03-05 12:36] whimboo commented on #265
Version 1.14 tagged as:
https://github.com/mozilla/mozdownload/commits/1.14

Pushed to pypi:

Submitting dist/mozdownload-1.14.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2015-03-05 12:36] #265 closed

[2015-03-09 09:43] whimboo opened #267 "--destination option fails if only a filename is specified"
$ mozdownload -v latest --destination firefox.tar.bz2
Traceback (most recent call last):
  File "/home/henrik/.virtualenvs/fxtests/bin/mozdownload", line 9, in <module>
    load_entry_point('mozdownload==1.14', 'console_scripts', 'mozdownload')()
  File "/home/henrik/.virtualenvs/fxtests/lib/python2.7/site-packages/mozdownload/scraper.py", line 1256, in cli
    build.download()
  File "/home/henri

[2015-03-09 09:44] whimboo commented on #267
@ujjwalwahi would you be interested to work on that part, given that you implemented the original code?

[2015-03-09 09:50] ujjwalwahi commented on #267
@whimboo yes sure, I will work on this

[2015-03-09 09:53] whimboo commented on #267
Great! Please make also sure to add an additional test for it beside the currently existing ones. Thanks.

[2015-03-10 04:50] qas612820704 opened #268 "AttributeError: 'module' object has no attribute 'PROTOCOL_SSLv3'"
After I execute
$ sudo ./step.py install
then the error occour,
what should I do?

[2015-03-10 20:28] Nebelhom commented on #268
Hi @qas612820704

This is the first time that I have come across this issue, so I would have to figure this out myself, as well, first.

@whimboo @davehunt Have you seen this problem before?

[2015-03-10 20:44] whimboo commented on #268
What is step.py? What you want to do is to run 'sudo pip install mozdownload' or if you want to have a developer version 'sudo python setup.py develop'.

[2015-03-11 07:09] whimboo commented on #268
If its still happening with those commands, please also paste the whole traceback of the error you are seeing. I strongly believe its a networking issue on your side.

[2015-03-11 10:08] whimboo commented on #252
See PR #260 for the reason why we wontfixed that issue.

[2015-03-11 10:08] #252 closed

[2015-03-11 10:31] whimboo opened #269 "Investigate if we can easily import requests only if necessary"
As seen on PR #222 it takes about 2s to import the requests module. That's kinda long and especially if we want to get the bash completion working, where we actually do not need this module at all. I wonder if it would be helpful to only import this module if really necessary in the scraper.py module.

[2015-03-11 10:32] whimboo commented on #22
An implementation here would be blocked by issue #269.

[2015-03-13 19:03] jasonwist commented on #214
I still want to finish it. Just prepping for a big job interview next week.

[2015-03-16 11:23] whimboo commented on #268
I strongly believe this is/was a problem with the installation steps. Nothing on our side. Given the lack of feedback I'm closing this issue now.

[2015-03-16 11:23] #268 closed

[2015-03-17 17:16] qas612820704 commented on #268
I'm so sorry ~ I don't focus this for a lot of day after I remain this comment
This is the full information after I execute 'sudo pip install mozdownload'
---
  Requirement already satisfied (use --upgrade to upgrade): mozdownload in /usr/local/lib/python2.7/dist-packages/mozdownload-1.14-py2.7.egg
Collecting mozinfo>=0.7 (from mozdownload)
  Downloading mozinfo-0.7.tar.gz
Collecting mozlog>=1.3 (

[2015-03-17 17:46] whimboo commented on #268
This looks to be a problem in the requests package. I assume you get the same failure when you run `sudo pip install --upgrade requests==1.2.2`? If that is the case what about `sudo pip install --upgrade requests`?

[2015-03-17 18:17] qas612820704 commented on #268
Yes~ I get the same failure when run `sudo pip install --upgrade requests==1.2.2`
but even through I run `sudo pip install --upgrade requests`,
the problem still not solve

---
[code]
Requirement already up-to-date: requests in /usr/local/lib/python2.7/dist-packages

---
[code]
Requirement already satisfied (use --upgrade to upgrade): mozdownload in /usr/local/lib/python2.7/dist-packages/mozdownlo

[2015-03-17 18:25] parkouss commented on #268
@qas612820704 maybe this is related if you are running under debian:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=770172
http://stackoverflow.com/questions/28987891/patch-pyopenssl-for-sslv3-issue

[2015-03-17 18:33] qas612820704 commented on #268
After run `$ sudo pip uninstall pyopenssl`
and retry `$ sudo pip install mozdownload`
It's work!
Thanks you so much! :)

[2015-03-17 18:53] parkouss commented on #268
:)

[2015-03-17 20:16] whimboo commented on #268
Good to know that! Thanks @parkouss for helping out! At least I have now seen that we should upgrade our requests dependency to the 2.x branch. We are still so far behind! :( I will file a new issue.

[2015-03-17 20:17] whimboo opened #271 "Upgrade dependency for requests module to 2.6.0"
We are still using requests v1.2.0 which is kinda outdated. We should upgrade to the latest available version 2.6.0: https://pypi.python.org/pypi/requests

[2015-03-26 13:38] armenzg opened #273 "We can't determine the latest beta and release candidate"
https://ftp.mozilla.org/pub/mozilla.org/firefox/candidates/latest-beta-candidates does not exist anymore. Creating the symlink is probably not automated anymore as part of the release process. [1]

There are various options we have in here:
* parse the candidates page and find the most recent *beta* folder "37.0b7-candidates"
* mozci allows you to navigate through all of the scheduling data from t

[2015-03-26 20:32] sydvicious commented on #273
I need to test with a binary and a tests.zip file. I generally need to .txt file to get the build number without having to unpack the binary archive (esp. the mac .dmg file). With nightly and aurora, mozdownload does all of this with ease. However, this is very difficult in beta and release.

You can use tinderbox builds, but the files do not change names every build like nightly and aurora do. mo

[2015-03-31 20:15] aleksejrs opened #276 "Does not work after mozregression is installed: requires pkg_resources ==1.2.2"
Debian jessie/sid, virtualenv.  Started weeks or months ago, if not longer.  Reinstalling virtualenv does not help.

[code]

After re-installing mozdownload, mozregression breaks:
[code]

Debian jessie/sid has a package v5.5.1-1; experimental has 12.2-1.

[2015-03-31 20:29] parkouss commented on #276
hmm, I think this will be fixed with issue #271.

[2015-03-31 20:31] parkouss commented on #276
As a workaround, you can use one virtualenv folder for mozregression, and one other for mozdownload (if you use virtualenv).

[2015-04-30 14:48] parthbakshi commented on #241
I would like to work on this bug, whats the best way to work on it.

[2015-05-04 09:23] whimboo opened #278 "Download builds from S3 instead from archive.mozilla.org"
[Bug 1136822](https://bugzilla.mozilla.org/show_bug.cgi?id=1136822) has been filed for tracking this work in regards of other bugs in Bugzilla. But the real implementation work will happen here.

CC'ing @jonallengriffin, @AutomatedTester

[2015-05-06 02:47] EricRahm commented on #241
@whimboo Do you have any notes for @parthbakshi?

[2015-05-06 08:35] whimboo commented on #276
@parkouss is right. You should use different virtualenvs as best to avoid those conflicts. I will close this issue in favor of issue #271.

[2015-05-06 08:35] #276 closed

[2015-05-06 08:39] whimboo commented on #271
Version 2.7.0 is out, so we should as best upgrade to that one.

[2015-05-06 12:16] whimboo commented on #241
Hi @parthbakshi. Great to hear that you have interests to work on this issue! Sorry for the late response but I was away for a full month.

So the best way is to fork the repository and create a local clone of it. Then you should make yourself familiar with the different kinds of Firefox builds (Nightly, Aurora, Beta, Release, candidate builds, tinderbox builds) which are supported by mozdownload.

[2015-05-06 14:06] parthbakshi commented on #241
Ok i have forked the repo, Is there a doc where i can read about the various builds and how the checksums/SHA-512 actually look?

[2015-05-07 10:03] whimboo commented on #273
I do not see a reason why we should bind mozdownload that close to mozci. It's an independent project and should not rely on releng specific behavior. It's sad that there is no latest beta or latest release link but AFAIR we never had that.

@sydvicious, I mentioned to you a couple of times that you are better to use Mozilla Pulse to listen for notifications of candidate builds. This is what we do

[2015-05-07 15:12] sydvicious commented on #273
I agree that using pulse is the long-term correct solution here. It's just a shame that independent of automation, one can't reliably get auxiliary products from beta releases using mozdownload.

[2015-05-08 11:35] whimboo commented on #241
The different builds are also called `channels`. You can get short introductions on [MDN](https://developer.mozilla.org/en-US/Firefox). Maybe by following the links you will get more comprehensive information. For the checksum you might want to have a look at the [hashlib](https://docs.python.org/2/library/hashlib.html) module documentation of Python.

[2015-05-09 09:22] Nebelhom commented on #269
@whimboo

FYI.
There are 5 occurrences (apart from the import statement) where we make use of requests, 3 of which are `except requests.exceptions.RequestException`.
If we can circumvent those, we would only need to import it for the `download` method and when the `DailyScraper` is being used...

Here are the lines where we are currently using the requests module in the code:

...Under `Scraper.__

[2015-05-09 09:34] Nebelhom commented on #179
@whimboo

I just tried your suggestion and had the following error. This happened both on defining `port=0` in `MozHttpdBaseTest`` and on removing the parameter entirely (in `mozhttpd_base_test.py`, of course)

[code]

[2015-05-09 15:14] parthbakshi commented on #241
Whenever i try to run mozdownload on my local machine i get
[code]
Is there a dependency that my machine is missing? or i have not setup mozdownload correctly?

[2015-05-09 15:35] parthbakshi commented on #241
Whenever i run the mozdownload on my machine im getting an error, is there anything that i am missing

[code]

[2015-05-11 16:52] ncalexan commented on #112
I would like to help mentor this as well.  This could be part of https://bugzilla.mozilla.org/show_bug.cgi?id=1124378.

[2015-05-11 17:53] whimboo commented on #241
As mentioned on IRC this is most likely Python version 2.6 which is causing those problems. Please upgrade to latest 2.7 and it should work.

[2015-05-11 20:23] Nebelhom commented on #112
@davehunt @ncalexan

Is fennec's directory structure similar to one of the builds we already use (e.g. B2G or firefox)? I am just curious if it is a whole portion of code or more of a small change to a couple of lines of code...

[2015-05-12 07:38] davehunt commented on #112
They certainly appear to be similar, but I'm not familiar enough to say with confidence.

[2015-05-12 15:14] ncalexan commented on #112
Yes, similar if not identical.  At the end of the day, the packaging code
is the same -- `packager.{mk,py}` and `upload-files.mk`.  There tweaks to
the filename but the locale hierarchy, package name root, etc should follow
the pattern.

On Mon, May 11, 2015 at 1:23 PM, Nebelhom <notifications@github.com> wrote:

[2015-05-13 21:31] whimboo commented on #211
Yeah, I noticed that again today after forgetting about your comment. Looks like we have another chance! Maybe lets see what's new and if it helps us.

[2015-05-15 10:49] whimboo commented on #112
Not sure if it is helpful right now to spend time on this issue. We are going to have to move to S3 for downloading builds soon. See issue #278. Maybe we can get this for free then without having to code that much as we would have to do now.

[2015-05-18 17:19] #257 closed

[2015-05-26 14:32] whimboo commented on #267
#274 fixed this issue.

[2015-05-26 14:32] #267 closed

[2015-05-26 14:34] whimboo commented on #255
@Nebelhom would you be able to fix that issue for the 1.15 release? If not I think we should postpone this issue to a future milestone or remove the milestone information completely.

[2015-05-26 16:22] whimboo opened #280 "Add requires.io support"
To see outdated packages it would be good if we would add https://requires.io/ to our project. We only would have to place a simple batch into the readme file.

Here an example from one of @davehunt's repos:
https://requires.io/github/davehunt/pytest-selenium/requirements/?branch=master

[2015-05-26 19:58] Nebelhom commented on #255
@whimboo

I'm sorry, I totally overlooked this issue :/ Do we have a planned due date for 1.15?

I will be able to look at it this weekend. Will that suffice?

[2015-05-26 20:05] whimboo commented on #179
So does it mean the webserver tries to setup a socket at port 80 by default when you omit this parameter or specify 0? Is something else running on this port? Or is the firewall blocking it?

[2015-05-26 20:07] whimboo commented on #255
Yes, that would totally be enough.

[2015-05-29 12:03] whimboo commented on #269
On which base exception does this exception class base on? Maybe we
could this one.

Would we have to make thoughts about those at all? Only the first
pointed out location is part of the __init__ method, and will always be
called. In terms of `download` or the `binary` it shouldn't matter given
that for command line auto-complete those methods wouldn't be called, right?

[2015-05-30 07:13] TLemur commented on #108
Is this still actual?

[2015-06-01 17:26] whimboo commented on #271
PR #276 got merged.

[2015-06-01 17:26] #271 closed

[2015-06-01 17:28] whimboo commented on #276
PR #276 bumped requests to 2.7.0. It should work now.

[2015-06-01 17:32] whimboo commented on #67
Long time no update here. Soon we will ship win64 builds. Right now those are on beta:
ftp://ftp.mozilla.org/pub/firefox/releases/latest-beta/win64/

So I don't think that we should fix this issue anymore. It's simply outdated. @TLemur sorry for not updating it in time and that you wasted time for trying to fix it. :(

[2015-06-01 17:32] #67 closed

[2015-06-01 17:36] whimboo opened #282 "Release version 1.15"
We want to release version 1.15 of mozdownload.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.15
- [ ] Release to pypi

[2015-06-01 22:26] whimboo commented on #167
Interesting that we already had the correct behavior for daily builds. Only release and candidate builds were missing it.

[2015-06-01 22:31] whimboo commented on #167
PR #279 got merged for 1.15 release.

[2015-06-01 22:31] #167 closed

[2015-06-01 23:25] whimboo commented on #255
PR #283 got merged.

[2015-06-01 23:25] #255 closed

[2015-06-02 03:31] TLemur commented on #67
@whimboo No problem, just can you answer my question in issue #108 please?

[2015-06-02 08:02] whimboo commented on #108
Looking at the latest beta and release candidate builds I do not see this subfolder. So yes, we should be fine to get this removed.

http://ftp.mozilla.org/pub/mozilla.org/firefox/candidates/39.0b2-candidates/build1/
http://ftp.mozilla.org/pub/mozilla.org/firefox/candidates/38.0.5-candidates/build4/

[2015-06-02 14:15] whimboo commented on #282
Version 1.15 has been tagged:
https://github.com/mozilla/mozdownload/commits/1.15

Pushed to pypi:
Submitting dist/mozdownload-1.15.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2015-06-02 14:15] #282 closed

[2015-06-08 09:05] whimboo commented on #108
PR #288 fixed this issue.

[2015-06-08 09:05] #108 closed

[2015-06-10 14:28] dminor commented on #112
I'm planning to migrate mozbench to using mozdownload and need fennec support for that, so I'm planning to work on this.

[2015-06-10 14:51] dminor commented on #112
Since mozbench only needs 'daily' builds, I'm only going to add support for that, rather than put in a bunch on effort that may have been unnecessary after we move to S3.

[2015-06-10 22:06] whimboo commented on #112
That sounds totally fine. Thanks Daniel!

[2015-06-22 09:36] whimboo commented on #181
I hit this again today and its indeed somewhat annoying. @Nebelhom is that anything you would be interested in fixing? :)

[2015-06-26 09:44] whimboo opened #293 "Update dependencies for python packages for test environment"
There is a problem in installing moznetwork due to a conflict with mozlog.structured. As best we should bump up all dependencies and don't make them strict. The strict mode is not necessary for running the tests, for the product itself I would keep it for now.

[2015-06-26 10:05] whimboo commented on #293
PR #294 has been merged.

[2015-06-26 11:35] #293 closed

[2015-06-30 12:05] whimboo commented on #112
Via PR #292 we got support for downloading Fennec daily builds. I will keep this issue open for the remaining build types. Thanks Dan for the new feature!

[2015-06-30 12:06] whimboo opened #295 "Release version 1.16"
We want to release version 1.16 of mozdownload.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.16
- [ ] Release to pypi

[2015-06-30 13:32] #157 closed

[2015-06-30 13:33] whimboo commented on #157
Fixed by PR #296.

[2015-06-30 13:33] whimboo commented on #250
Fixed with PR #296.

[2015-06-30 13:33] #250 closed

[2015-06-30 14:49] whimboo commented on #295
New release has been tagged:
https://github.com/mozilla/mozdownload/commits/1.16

Uploaded to PyPI:
Submitting dist/mozdownload-1.16.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2015-06-30 14:49] #295 closed

[2015-07-15 20:38] parkouss commented on #278
adding myself in the CC list.

[2015-07-23 03:53] crdoconnor opened #299 "AttributeError: 'module' object has no attribute 'getLogger'"
This error occurs on the latest (master) version of mozdownload::

    Traceback (most recent call last):
      File "/home/user/.local/bin/mozdownload", line 9, in <module>
        load_entry_point('mozdownload==1.16', 'console_scripts', 'mozdownload')()
      File "/home/user/.local/venvs/mozdownload/local/lib/python2.7/site-packages/mozdownload/scraper.py", line 1248, in cli
        build = BUI

[2015-07-28 20:02] aleksejrs opened #301 "ImportError: <module 'mozdownload' from '/env/local/lib/python2.7/site-packages/mozdownload/__init__.pyc'> has no 'cli' attribute"
[code]

[2015-07-28 21:10] #169 closed

[2015-07-29 13:12] dminor commented on #301
This should be fixed by https://github.com/mozilla/mozdownload/commit/aeee681d587ded7d6e6c9e9e00e9df1b709d0643 but I'm not sure we've pushed out a new release since then.

[2015-07-29 13:29] aleksejrs commented on #301
I created that new virtualenv before filing the bug.  Debian jessie.

[2015-07-29 18:03] dminor commented on #301
Works for me from a fresh clone of mozdownload.

[2015-08-03 12:53] whimboo opened #303 "Release version 1.17"
We want to release version 1.17 of mozdownload.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [x] Tag version 1.17
- [x] Release to pypi

[2015-08-03 16:27] whimboo commented on #299
PR #300 actually fixed the breakage with `getLogger()` due to API changes. But I still wonder to get rid of mozlog and simply use the `logging` module. I will have a look into it.

[2015-08-03 16:59] whimboo commented on #299
I will push the follow-up through another issue. Marking that one as fixed.

[2015-08-03 16:59] #299 closed

[2015-08-03 17:01] whimboo opened #304 "Remove dependency for mozlog"
Currently we are using mozlog to print logging statements.  But with PR #300 we only use this module once for getting the actual logger. I feel it's time to kill the dependency and simply setup our logger via the logging module.

[2015-08-03 17:13] whimboo commented on #301
For reference this issue has been fixed with PR #298. Given that we had no tests for that and that I simply missed to run the CLI manually a broken release went out. :( I'm going to get a new release out by today. Thanks @dminor for fixing it.

[2015-08-03 17:13] #301 closed

[2015-08-03 20:14] whimboo commented on #304
PR #305 has been merged.

[2015-08-03 20:14] #304 closed

[2015-08-03 20:46] whimboo commented on #303
Tagged version 1.17:
https://github.com/mozilla/mozdownload/commits/1.17

Released to PyPI:
Submitting dist/mozdownload-1.17.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2015-08-03 20:46] #303 closed

[2015-08-05 10:00] juj opened #307 "Enhance documentation for developer related activities"
Hey, I was setting up mozdownload on Windows, and when learning for the first time, I was scratching my head on the following for a moment:

1. I did not know what to do with the git repo after cloning. There was no mozdownload script included, and readme did not have Windows instructions. Running "python setup.py" gave this:

		C:\code\mozdownload>python setup.py
		usage: setup.py [global_opts] c

[2015-08-06 13:10] whimboo commented on #307
Yeah. We certainly need some developer docs layed out for this repository. I will see that I find time this week to do that.

[2015-08-06 16:40] whimboo commented on #307
PR #308 has been merged and fixes all the mentioned issues from comment 0.

[2015-08-06 16:40] #307 closed

[2015-08-10 16:18] davehunt opened #309 "PyPI description does not support Markdown"
The package description on PyPI [doesn't look good](https://pypi.python.org/pypi/mozdownload). This is because we're using Markdown, and PyPI does not support this. If we switch to ReStructuredText the formatting would be preserved between GitHub and PyPI.

[2015-08-12 12:35] whimboo opened #310 "Add CONTRIBUTING.md file for instructions"
According to [this guideline](https://github.com/blog/1184-contributing-guidelines) we should have a CONTRIBUTING.md file in our repository, which will help contributors to get started, and reviewers/owners how to handle the repository. Right now all that information is located in the [wiki](https://github.com/mozilla/mozdownload/wiki#contributing) which might be missed.

Thanks to @AutomatedTeste

[2015-08-12 14:11] whimboo commented on #310
PR #311 got merged and I will remove this content from the Wiki now.

[2015-08-12 14:11] #310 closed

[2015-08-13 09:03] whimboo commented on #309
Hm, I was playing directly around with it on the Github wiki by selecting reStructuredText as edit mode.  But when I select Preview it still renders with unresolved references? Is there anything we will have to obey when we do that change?

Here my example:

[2015-08-13 13:41] davehunt commented on #309
I'm not sure about the GitHub wiki, but that's not what this issue is about. See pytest-html [README](https://github.com/davehunt/pytest-html/blob/master/README.rst) as an example rst file that works well in [PyPI](https://github.com/davehunt/pytest-html/blob/master/README.rst) beyond that, I would have to search for the answers to any formatting questions myself.

[2015-08-27 20:48] EricRahm opened #313 "Don't retrieve directory listing if timestamp is provided for Tinderbox builds"
Retrieving a full directory listing [1] is not necessary if the timestamp is already known [2].

This is relevant for AreWeSlimYet where we often retrieve all builds for a given date range.

[1] https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L875
[2] https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L879-L883

[2015-08-31 21:21] whimboo opened #314 "Failure: 'NoneType' object has no attribute 'status_code'"
This happened when our mozmill-ci job tried to download the Nighlty build with the build-id 20150831030209. It cannot be replicated anymore given that the build exists now. Maybe it happens when the build folder exists but the build for the given platform is not available.

Failure:

12:17:10   File "/Users/mozauto/jenkins/workspace/mozilla-central_functional/venv/lib/python2.7/site-packages/mozdo

[2015-09-01 20:10] vaibhavmagarwal opened #315 "mozdownload does not download files for android"
Here is the traceback I receive when I try to download mozinfo.json for android:
[code]
[code]

[2015-09-03 08:13] whimboo commented on #315
There is no Firefox for Android, but Fennec. That means you have to specify the application via the `-a` option. Also as issue #112 states we still miss certain features for Fennec.  Right now we only support downloading daily builds. If you need tinderbox I would appreciate if you could work on it. So I will dupe this issue against issue #112.

In case daily builds also work for you, you can get

[2015-09-03 08:13] #315 closed

[2015-09-03 09:01] whimboo commented on #214
PR #312 has been merged to master.

[2015-09-03 09:01] #214 closed

[2015-09-10 23:33] whimboo opened #316 "Move CLI into its own module"
Having the CLI code in the scraper doesn't make sense and only blows up its size. Lets separate it out into its own module.

[2015-09-11 10:38] whimboo opened #318 "Switch from optparse to argparse"
We should finally switch from the old optparse module to argparse. I will have a PR up in a bit. For now it will depend on issue #316.

[2015-09-11 14:13] whimboo opened #320 "Create Factory class for various Scraper instances"
Right now it is kinda hard to create the correct scraper. We should make it easier to create a specific one by just having a factory class which accepts various arguments and automatically creates the wanted scraper instance for you.

[2015-09-11 14:16] whimboo commented on #316
PR #317 got merged.

[2015-09-11 14:16] #316 closed

[2015-09-11 14:25] whimboo commented on #318
PR #319 got merged.

[2015-09-11 14:25] #318 closed

[2015-09-11 19:12] whimboo opened #322 "Release version 1.18"
We want to release version 1.18 of mozdownload.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.18
- [ ] Release to pypi

[2015-09-14 06:39] whimboo commented on #320
PR #321 got merged.

[2015-09-14 06:39] #320 closed

[2015-09-14 09:25] whimboo opened #324 "Ensure to have good API properties and methods"
Given that the upcoming version 1.18 of mozdownload will have a good API for using it, we should make sure that the properties and methods we provide can easily be used and are named appropriately.

Right now we have `final_url` for the remote location which would have to be renamed to just `url`. Otherwise it might become confusing. Also the local filename can be retrieved via `target`. It's bett

[2015-09-14 13:29] whimboo commented on #324
PR #325 got landed.

[2015-09-14 13:29] #324 closed

[2015-09-14 14:14] juj opened #327 "Unable to download nightly builds of Firefox"
Trying to run the following command on OS X:

    mozdownload --type=daily --extension=zip --date=2015-01-01

but I'm getting the error

     INFO | Retrieving list of builds from https://archive.mozilla.org/pub/mozilla.org/firefox/nightly/2015/01
    Traceback (most recent call last):
      File "/usr/local/bin/mozdownload", line 9, in <module>
        load_entry_point('mozdownload==1.17', 'conso

[2015-09-14 14:24] whimboo commented on #322
PR #326 got merged. I will now do the release.

[2015-09-14 14:26] whimboo commented on #322
Tagged 1.18:
https://github.com/mozilla/mozdownload/tree/1.18

Pushed to pypi:
Submitting dist/mozdownload-1.18.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2015-09-14 14:26] #322 closed

[2015-09-15 14:01] whimboo opened #328 "Use a shared HTTP/HTTPS session() for retrieving data"
As of now we seem to make individual connections to the remote host for querying every tiny information and finally downloading the build. It would be better to share those connections via a session (http://docs.python-requests.org/en/latest/user/advanced/#session-objects). It can result in a more or less good speed improvement.

[2015-09-15 14:02] whimboo commented on #328
Downloading an Aurora build shows the following connections being created:

    15:49:38     INFO - Retrieving list of builds from https://archive.mozilla.org/pub/mozilla.org/firefox/nightly/2015/09
    15:49:38     INFO - Starting new HTTPS connection (1): archive.mozilla.org
    15:49:39     INFO - Starting new HTTP connection (1): archive.mozilla.org
    15:49:40     INFO - Starting new HTTPS c

[2015-09-15 14:03] whimboo commented on #328
It will also help us with the authentication given that we only have to set the credentials when the session gets created.

[2015-09-15 14:18] whimboo commented on #328
So this can be done by adding the following line to the scraper.py module:

It will enable the maximum amount of logging output. Here how it looks like when we download the latest Nightly build:

 INFO | Starting new HTTPS connection (1): archive.mozilla.org
 DEBUG | "GET /pub/mozilla.org/firefox/nightly/latest-mozilla-central/ HTTP/1.1" 200 None
 INFO | Starting new HTTPS connection (1): archive.

[2015-09-17 07:19] whimboo commented on #327
Well, you are on OS X and for that platform there is no .zip file for a build. That is only offered for win32 and win64. So what you would have to do is to add `--platform=win32` to the command and it will work. If you don't do it mozdownload will use your current platform, and will fail to find the file.

[2015-09-17 07:19] #327 closed

[2015-10-21 07:59] whimboo opened #329 "mozdownload is no longer able to download builds from archive.mozilla.org"
Via [bug 1211732](https://bugzilla.mozilla.org/show_bug.cgi?id=1211732) the files on archive.mozilla.org have been moved to S3. That means the HTML is different now and mozdownload fails to download any build.

As a quick workaround we can change the BASE_URL to `http://ftp-origin-scl3.mozilla.org/` to keep mozdownload working.

I will get this fixed in a bit.

@xabolcs maybe that is what you were

[2015-10-21 08:17] whimboo opened #331 "Release version 1.18.1"
We need a bustage fix release to incorporate issue #329 to get mozdownload working again until a real fix has been landed.

The following tasks have to be performed:
- [x] Update setup.py for version bump
- [x] Update changelog
- [x] Tag version 1.18.1
- [ ] Release to pypi

[2015-10-21 08:22] whimboo commented on #329
Maybe [bug 1213721](https://bugzilla.mozilla.org/show_bug.cgi?id=1213721) is a better reference here.

[2015-10-21 08:36] whimboo commented on #329
The workaround via PR #330 has been landed. I will releae v 1.18.1 now via issue #331.

A full fix will hopefully be ready later today.

[2015-10-21 08:51] whimboo commented on #331
Tagged as 1.18.1:
https://github.com/mozilla/mozdownload/commits/1.18.1

Released to PyPI:
Submitting dist/mozdownload-1.18.1.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2015-10-21 08:51] #331 closed

[2015-10-21 14:06] whimboo commented on #329
The patch here is easy. The only thing which has been changed is that sub folders are listed with the full URL fragment and not only the final path item:

`/pub/firefox/nightly/2015/10/2015-10-20-04-02-36-ash-l10n/` vs. `2015-10-20-04-02-36-ash-l10n/`.

I have a patch locally which works fine and works for both the old and new link format. I have to check tests before I open a PR. CC'ing @mjzffr,

[2015-10-21 14:33] whimboo commented on #329
So the parser update is only the first part. I also have to update the scraper because archive.m.o behaves different now and fails if a folder doesn't have a final slash:

http://archive.mozilla.org/pub/firefox/releases/
http://archive.mozilla.org/pub/firefox/releases
http://ftp-origin-scl3.mozilla.org/pub/firefox/releases/

[2015-10-21 20:37] whimboo commented on #329
New builds are only uploaded to S3 so we are currently busted with localized builds in Mozmill CI. :( I will work on that issue so we can get it landed ASAP. CC'ing @nthomas-mozilla for info.

[2015-10-22 10:13] whimboo commented on #329
Having the need of final slashes for folder now makes it bit complicated for our current mozdownload code base which definitely needs a refactoring. I have all the changes in place now (at least I hope) but testing it is hard given that we only have local tests. As result I will have to write some more tests so we can be sure that all features are working as expected.

[2015-10-22 14:12] juj opened #333 "How to download Firefox 40.0 32-bit Win32?"
I'm trying to verify if Firefox 40.0 had a bug that could have been fixed in Firefox 41.0, so I'm attempting to get FF 40.0 Win32 as a zip package, with the following:

    mozdownload --type=release --version=40.0 --platform=win32 --extension=zip

or

    mozdownload --type=release --version=40.0 --platform=win32

but both of those give

    mozdownload.errors.NotFoundError: Specified build has n

[2015-10-22 14:57] parkouss commented on #333
Hey Juj, you can try mozregression (http://mozilla.github.io/mozregression/) for your use case.

for example,
[code]

We are working on allowing the release number (https://bugzilla.mozilla.org/show_bug.cgi?id=1214192) so you could do:
[code]
But this is not ready yet, should be released soon (worse next week).

[2015-10-22 14:58] parkouss commented on #333
Oh, please specify "--bits=32" if you want 32 bit build and that you are running on a 64 bit os.

[2015-10-22 15:06] juj commented on #333
Thanks! Using mozregression now, that got me going.

[2015-10-23 13:39] whimboo opened #334 "Downloading a daily en-US Fennec build fails with wrong build id"
$ mozdownload -a fennec -t daily -p android-api-9 --branch=mozilla-central --build-id=20151021065025 -l en-US
[..]
mozdownload.errors.NotFoundError: Specified build has not been found: https://archive.mozilla.org/pub/mobile/nightly/2015/10/2015-10-21-03-09-19-mozilla-central-android-api-9/en-US/

Notice the different build id as given via the command line.

[2015-10-23 15:13] whimboo opened #336 "Release version 1.19"
We need a bustage fix release to incorporate issue #329 to get mozdownload working again until a real fix has been landed.

The following tasks have to be performed:
- [x] Land all blockers
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.19
- [ ] Release to pypi

[2015-10-23 16:17] whimboo commented on #329
PR #335 got merged to master.

[2015-10-23 16:17] #329 closed

[2015-10-23 16:28] whimboo commented on #336
PR #337 got merged. Going to do the release now.

[2015-10-23 16:30] whimboo commented on #336
Tagged 1.19 release:
https://github.com/mozilla/mozdownload/commits/1.19

Pushed to PyPI:
Submitting dist/mozdownload-1.19.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

We are done. Hurray!

[2015-10-23 16:30] #336 closed

[2015-10-26 08:26] whimboo opened #338 "Move BASE_URL from https://archive.mozilla.org/pub/mozilla.org to https://archive.mozilla.org/pub/"
Follow-up from https://github.com/mozilla/mozdownload/commit/ea76769ef8cb62091ea85bf76d79df8098b0e635#commitcomment-13965099.

Not sure why I reverted to the formerly archive.m.o base URL and haven't used that one here. I hope that the currently used sub folder will still be in place for a while, so no emergency release of mozdownload is necessary again. I asked @nthomas-mozilla on IRC about that.

[2015-10-26 13:34] whimboo commented on #338
There is no pressure to get this out. The mozilla.org sub folder is a redirect to /pub and might exist forever to keep compatibility. So we can get this out with the next usual release.

[2015-10-26 19:57] whimboo commented on #338
PR #339 got merged.

[2015-10-26 19:57] #338 closed

[2015-10-27 12:03] whimboo commented on #333
There was a migration happening from the FTP server to S3. That's why lots of builds were not accessible. With the newly released mozdownload 1.19 all should work fine again.

[2015-10-27 12:03] #333 closed

[2015-10-29 11:01] whimboo commented on #329
The trailing slash issue is covered by [bug 1219626](https://bugzilla.mozilla.org/show_bug.cgi?id=1219626) now. Maybe we can revert the changes once it got fixed.

[2015-10-29 22:03] whimboo commented on #241
@parthbakshi, given the amount of time which has been passed by here, I assume you will not work on this issue anymore? It's somewhat important for us now given that in the last days we had a couple of corrupted downloads without seeing a failure from mozdownload.

[2015-10-30 06:25] whimboo commented on #329
The bug as referenced in the last comment got wontfixed, so we are good with what we have right now.

[2015-10-30 15:49] parthbakshi commented on #241
Sorry work got in the way you can reassign it to someone else.

On Thu, Oct 29, 2015 at 6:03 PM Henrik Skupin <notifications@github.com>
wrote:

[2015-10-30 16:39] whimboo commented on #241
Thanks for letting me know!

[2015-11-02 13:33] whimboo opened #340 "Download of latest locale can fail because we check latest-mozilla-central and not latest-mozilla-central-l10n"
I have seen today that for other locales than en-US we do not correctly check the l10n folder but the general one which only contains en-US builds:

https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/
https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central-l10n/

As result a download of a locale will fail if it is not present yet in the build folder from today. T

[2015-11-02 13:38] whimboo commented on #340
Hm, turns out that the https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central-l10n/ folder does not have a status file we could use to check for the latest date. Maybe we have to change our code to simply download the files from that URL under those circumstances. It should not be done by default given that the original folder contains more than the binaries.

[2015-11-10 11:33] parkouss commented on #328
With requests logging enabled, output looks like:
[code]

[2015-11-10 12:25] whimboo commented on #328
Sweet! Looking forward to a PR from you.

[2015-11-10 13:25] parkouss commented on #146
This is exactly the goal of the redo package I would say: https://pypi.python.org/pypi/redo

I have opened a PR using it, #342.

The output is slightly different, e.g if I raise an exception to try it intentionally:
[code]

You may not like it - tell me what you think!

[2015-11-11 09:55] whimboo commented on #146
So what exactly caused us to redo the download in the above case? I wonder what the real issue here is and if that is hidden behind the timeout exception.

[2015-11-11 10:00] parkouss commented on #146
Oh, no I broke the code intentionally to show that case, by adding "raise TimeoutError" somewhere.

[2015-11-11 10:10] whimboo commented on #146
Ah, not the best exception class then. ;) But now it's clear.

So this line:

Is that coming from the redo package? I wonder why they print the method and not it's name.

[2015-11-11 11:18] parkouss commented on #146
yep, not sure why, but this is redo: https://github.com/bhearsum/redo/blob/master/redo/__init__.py#L151

I believe we can open a PR for that, to get it fixed if the author like the idea.

[2015-11-11 11:26] whimboo commented on #328
PR #341 got merged to master. Thanks @parkouss for working on that! I wonder about the performance win we will have here...

[2015-11-11 11:26] #328 closed

[2015-11-11 11:29] whimboo commented on #146
Sounds like a good idea and I believe Ben will be open for that enhancement which gives better output for users on stdout. So yeah, I'm happy with the above changes and interested to see the PR. :)

[2015-11-11 11:36] parkouss commented on #146
great, just opened https://github.com/bhearsum/redo/issues/35.

[2015-11-16 12:02] #146 closed

[2015-11-19 09:57] whimboo opened #343 "Make progressbar dependency optional"
Not everyone may need the neat output of the progressbar while downloading a build. So we might want to make it optional in setup.py. As replacement we could offer a minimal status line similar to what mozregression does.

[2015-11-25 13:33] whimboo opened #344 "Add option to print final url to standard output"
It would be helpful to have an option to let mozdownload print the final url to stdout. It could be used with pipes to pass into another application or stored to disk.

[2015-12-01 00:14] pdehaan opened #345 "mozdownload@1.19 throws errors on OSX"
We were trying to use **mozdownload** today to download some Moz's and were getting the following error on OSX (El Capitan) using v1.19.

Behold:

[code]

[code]

[2015-12-01 00:14] pdehaan commented on #345
/cc @rpappalax

[2015-12-02 01:17] EricRahm commented on #314
@whimboo  I saw this recently in AWSY. Mozilla having infra issues at the time, so maybe it was the result of a timeout? FWIW I generally get BuildNotFoundError when the build is not found, so I don't think that's it.

[2015-12-02 08:34] parkouss commented on #314
@EricRahm Do you have the stack trace of the exception by any chance ? Since the code has changed since the bug was reported, that can help.

[2015-12-02 13:00] whimboo opened #346 "scraper.url should return a properly html encoded URL"
Using the mozdownload scraper API to get the URL of the target build can result in broken output due to a missing html encoding. That's why the `url` property should automatically encode the URL.

You can test it with: `mozdownload -p mac -t candidate -v 43.0b8`

Current result:

[2015-12-02 13:35] whimboo commented on #346
Looks like the problem which I noticed at https://github.com/mozilla/mozmill-ci/issues/715 is not related to mozdownload at all but to the non-encoded urls from buildbot pulse messages. mozdownload works as expected:

Closing issue as invalid.

[2015-12-02 13:35] #346 closed

[2015-12-02 20:24] whimboo commented on #345
`latest` still exists on archive.mozilla.org but doesn't list any release anymore: http://archive.mozilla.org/pub/firefox/releases/latest/

So not sure if that folder is going to be dropped and not updated anymore. @nthomas-mozilla can help here.

[2015-12-02 22:06] nthomas-mozilla commented on #345
We've discontinued it, please see
 http://archive.mozilla.org/pub/firefox/releases/latest/README.txt
 https://ftangftang.wordpress.com/2015/11/17/the-latest-on-firefoxreleaseslatest/

[2015-12-03 10:09] whimboo commented on #345
I see. So if `latest` is still wanted we will have to reimplement the logic. Please let us know.

[2015-12-04 19:20] EricRahm commented on #314
@parkouss Unfortunately I just have a log of the exception, not the stack. It's pretty clear it's coming from scraper though as that's the only place that checks `status_code` [1].

[1] https://github.com/mozilla/mozdownload/blob/042f08811faea146553b0741124bef4d50741662/mozdownload/scraper.py#L139

[2015-12-05 00:55] EricRahm opened #348 "test_optional_authentication is broken"
`test_optional_authentication` [1] attempts to use https://ci.mozilla.org, that site is down and they're planning on decommissioning it [2].

This has the unfortunate side effect of making PRs seem like they've caused test failures.

[1] https://github.com/mozilla/mozdownload/blob/master/tests/base_scraper/test_base_scraper.py#L99
[2] https://bugzilla.mozilla.org/show_bug.cgi?id=1229734

[2015-12-08 17:38] davehunt commented on #348
In the short term you may be able to switch to https://webqa-ci.mozilla.com/ which has no plans of decommissioning.

[2015-12-09 14:19] EricRahm opened #350 "TestCLICorrectScraper and TestFactoryCorrectScraper fail on OS X"
The best I can tell they have tests for the correct default platform being chosen and we assume that is linux, this assumption is incorrect on OS X.

[2015-12-15 08:57] whimboo commented on #348
PR #349 has been merged.

[2015-12-15 08:57] #348 closed

[2015-12-15 13:04] whimboo commented on #314
PR #347 has been merged. Thank you @EricRahm for the investigation and fix!

[2015-12-15 13:04] #314 closed

[2016-01-19 14:22] whimboo opened #352 "Make use of tox as test runner for unit tests"
We should make use of [tox](https://testrun.org/tox/latest/) as testrunner for our unit tests. It has some nice features like automatic environment creation which would help us a lot here. Maybe we could even integrate coverage reports at the same time.

For an example see the mozharness tox configuration file:
http://mxr.mozilla.org/mozilla-central/source/testing/mozharness/tox.ini

[2016-01-19 20:45] Motwani commented on #352
I would like to work on this Issue.

[2016-01-20 09:05] whimboo commented on #352
That's great to hear! So I've set you as assignee for this issue. Let me know if you have problems in #ateam or #automation. Thanks!

[2016-01-25 00:42] l-hedgehog opened #353 "mozdownload gets SDK packages for candidate and release builds of Firefox 44.0"
I noticed the files were 132M instead of the normal 49M, these sdk.tar.bz2 were not there before Fx 44.0 rc build3.

 » mozdownload --build-number 3 -l en-US -p linux -t candidate -v 44.0
 INFO | Retrieving list of candidate builds from https://archive.mozilla.org/pub/mozilla.org/firefox/candidates/44.0-candidates/
 INFO | Found 3 builds: build1, build2, build3
 INFO | Selected build: build3
 INFO

[2016-01-26 14:01] whimboo opened #354 "Get daily, tinderbox, and try builds by revision"
A requested feature for a long time. Finally with the help of Treeherder we can get this implemented. It's not that easy but with a couple of API requests it can be done. So here an example for one of the latest beta-releases which happened to be:

https://treeherder.mozilla.org/#/jobs?repo=mozilla-beta&revision=5c042dab34a2

Steps to do:

* Get the resultset for the given revision: https://treehe

[2016-01-26 14:26] whimboo commented on #354
CC'ing @camd given that we started to talk about a possible path last Friday.

[2016-01-26 17:10] whimboo commented on #352
@Motwani do you already have an idea when you can get started with this issue? I would need an easy way to trigger specific tests only, which is not easily doable right now. Thanks.

[2016-01-27 14:03] Motwani commented on #352
I have a fair idea about Tox. I'm not sure how to trigger specific tests but I could make a similar tox file using git instead of mercurial. Which versions of Git should I test with? And how can I trigger specific tests?

[2016-01-28 11:21] whimboo commented on #352
The first step for this issue should be add tox and let it create the required virtual environment. We could then also make use of the coverage module similar to mozharness and let the tests being triggered through it.

[2016-01-29 13:45] whimboo commented on #353
Thanks for the report! And sorry for not seeing it earlier. So starting with Firefox 44.0 we want to ship the SDK along the releases again. That has been implemented on [bug 1233005](https://bugzilla.mozilla.org/show_bug.cgi?id=1233005). I'm not quite sure yet why we started to use the en-US folder. So I asked on the bug. Maybe we can better use a folder like `linux-i686/sdk/` for those builds.

[2016-01-29 14:05] whimboo commented on #353
This also happens for release builds. Looks like we need a bustage release soon.

[2016-01-29 15:55] whimboo opened #355 "Let `latest` for release and candidate point to latest version"
With the move to S3 we no longer have symlinks under the latest sub directories. I think we should keep allowing `latest` as version, and have to scrape on our own for the latest version.

[2016-02-01 14:42] whimboo commented on #353
I will work on that. The PR which I will create will be based on top of PR #356.

[2016-02-01 21:49] whimboo commented on #355
PR #356 got merged.

[2016-02-01 21:49] #355 closed

[2016-02-01 21:57] whimboo commented on #355
After the merge I noticed that I missed to update the README for the new options. The commit https://github.com/mozilla/mozdownload/commit/3ee65b9565e996f9fc2d200874986006c961551f fixes that.

[2016-02-01 22:01] whimboo commented on #353
PR #357 got merged. The fix will be part of the next release which will happen the next days.

[2016-02-01 22:01] #353 closed

[2016-02-03 20:47] whimboo commented on #352
PR #358 has been merged. As we noticed coverage doesn't really work as of now. So I will file a follow-up issue now.

Aditya, thanks a lot for making this possible! I already love this new feature.

[2016-02-03 20:47] #352 closed

[2016-02-03 20:50] whimboo opened #359 "Use pytest or nose as testrunner for unit tests"
PR #358 has been shown that coverage doesn't really work. This might be related to the unittest framework we make use of. Maybe we should switch away from that and better use nose or even pytest to run our tests.

https://testrun.org/tox/latest/example/pytest.html

@Motwani, as you told on the other issue you are interested to work on it?

[2016-02-04 18:31] whimboo opened #360 "Improve logging and arguments handling"
We made a couple of changes in the last months but never really refactored the details about argument handling and logging. Especially the latter is a bit broken (actually since we make use of it) and is blocking me in implementing a good logging strategy on issue #354.

I have local changes working which will improve the situation a lot. I will upload it soon.

[2016-02-04 19:05] whimboo opened #362 "Fennec API level 11 got replaced with API level 15"
Since January 29th there are no API level 11 builds produced anymore on mozilla-central. As result the remote Fennec tests are failing. We should get the new API level 15 added and limit API level 11 testing until Jan 28th.

[2016-02-04 19:12] whimboo opened #363 "Fix PEP warnings in source files under mozdownload/"
With the latest version of pylama including pep8 I see a huge amount of warnings in my editor for all the source files. This bugs me a lot given that it makes it hard to spot real warnings. So I'm going to get them fixed.

[2016-02-04 21:34] whimboo commented on #360
PR #361 has been merged.

[2016-02-04 21:34] #360 closed

[2016-02-05 08:11] whimboo opened #365 "Add taskcluster support to mozdownload"
Given several problems we face with querying archive.mozilla.org for builds, and the fact that the build system will be transitioned over to taskcluster and its index, we should add a taskcluster module which let us turn on support for taskcluster step by step for various type of builds.

I think what we have to get started with are the latest nightly builds on various branches:
https://bugzilla.m

[2016-02-05 10:14] parkouss commented on #365
Here is an example to get a build url of a firefox 64 bits linux build:
[code]
In mozregression we do things a bit differently, checking for runs of a task, using different routes (revision based) in combination with [pushlog api](http://mozilla-version-control-tools.readthedocs.org/en/latest/hgmo/pushlog.html#pushlog-wire-protocol-command) and allowing private artifact accesses, but the logic is

[2016-02-05 11:13] whimboo commented on #365
Thanks Julien! So with mozdownload we have the following data for downloading a build:

* Release/Candidate: latest, version
* Daily: latest, date, buildid, (revision via Treeherder soon) + build number
* Tinderbox build: latest, date vs. timestamp, (revision via Treeherder soon) + debug flag, build number
* Tryscraper: revision + debug flag

To all of them variations of application, branch, local

[2016-02-05 11:25] whimboo commented on #363
PR #364 has been landed on master.

[2016-02-05 12:28] whimboo commented on #363
While the tests were running fine for me locally I noticed that Travis spilled out some other failures. Here mainly because the README.md cannot be read, which indeed is not part of the package. Locally I have made it available via MANIFEST.in but that is indeed not the right way. So a fix for setup.py is necessary. Also moving the definition of __version__ some lines down in __init__.py caused a

[2016-02-05 13:11] whimboo commented on #334
This is mostly invalid. The referenced URL here doesn't contain a build, so it's true that it would fail. I will get the disabled test re-enabled with my PR for issue #362.

[2016-02-05 13:11] #334 closed

[2016-02-05 18:36] whimboo commented on #363
PR #366 has been merged. So this issue has been finally solved.

[2016-02-05 18:36] #363 closed

[2016-02-05 18:38] whimboo commented on #362
PR #367 has been merged. So this feature will be available with the next 1.20 release.

[2016-02-05 18:38] #362 closed

[2016-02-08 19:47] whimboo opened #368 "Use wptserve for unit tests"
Right now the unittests make use of mozhttpd. The development of this HTTP server has been stopped in favor of [wptserve](https://github.com/w3c/wptserve).

[2016-02-09 21:15] whimboo commented on #368
PR #369 has been merged.

[2016-02-09 21:15] #368 closed

[2016-02-10 13:13] whimboo opened #371 "Bump dependencies to mozinfo 0.9 and requests 2.9.1"
At least for mozinfo and for requests we can bump the version up to the latest version before we release version 1.20 of mozdownload.

[2016-02-10 14:14] whimboo opened #372 "Release version 1.20"
We haven't had a release of mozdownload for a long time. Lots of new cool features have been added and bugs fixed. So lets get a new release out.

The following tasks have to be performed:
- [x] Land all blockers
- [x] Update setup.py for version bump
- [x] Update changelog
- [x] Tag version 1.20
- [ ] Release to pypi

[2016-02-10 15:54] whimboo commented on #245
Yes, that looks fine to me. No action to perform here.

[2016-02-10 15:54] #245 closed

[2016-02-10 16:35] whimboo commented on #211
Nice. It may be good to check that out. Labeling issue as mentored in case someone has interest to look at this.

[2016-02-10 20:01] whimboo commented on #354
PR #370 has been merged to master.

[2016-02-10 20:01] #354 closed

[2016-02-10 20:03] whimboo commented on #371
Thinking more about this I'm more inclined to not get this patch landed right before we have the release. It would mean that we have close to no testing. Better we land it right after the 1.20 release so the risk for regressions is low.

[2016-02-10 20:03] #371 closed

[2016-02-10 20:04] whimboo commented on #372
All blockers have been landed. It's time to prepare the release now.

[2016-02-10 21:39] whimboo opened #375 "Fix unit tests for Windows"
Two of our unittests are currently failing on Windows because of a missing platform specifier:

* https://github.com/mozilla/mozdownload/blob/master/tests/cli/test_correct_scraper.py#L17
* https://github.com/mozilla/mozdownload/blob/master/tests/factory/test_factory_scraper.py#L13

We should ensure to always specify a platform or use mock to test different platforms.

[2016-02-11 09:26] whimboo commented on #372
PR #374 has been merged to master. Doing the tagging and release now.

[2016-02-11 09:28] whimboo commented on #372
Tagged 1.20 release:
https://github.com/mozilla/mozdownload/commits/1.20

Released to PyPI:
Submitting dist/mozdownload-1.20.tar.gz to https://pypi.python.org/pypi
Server response (200): OK

[2016-02-11 09:28] #372 closed

[2016-02-11 10:22] whimboo opened #376 "Add Travis support for OS X"
Right now we only run our unit tests on Linux hosts via Travis. We should expand the testing to OS X.

https://docs.travis-ci.com/user/osx-ci-environment/

[2016-02-11 10:22] whimboo commented on #375
I will fix that along with issue #376.

[2016-02-11 10:22] #375 closed

[2016-02-11 11:43] whimboo opened #378 "mozdownload command fails with: "error: unrecognized arguments: mozdownload""
The following change seems to have busted the CLI command of mozdownload:
https://github.com/mozilla/mozdownload/pull/370/files#diff-2204333307f1f8807918caa9eec87871R144

The one cli test we have only checks for the output of the global doc string, which we now always show in the help. That said we have no test coverage for this specific case and so the issue was not recognized. :(

Looks like we

[2016-02-11 12:58] whimboo commented on #376
PR #377 has been merged.

[2016-02-11 12:58] #376 closed

[2016-02-11 13:08] whimboo commented on #350
Fixed with my landed patch for issue #377.

[2016-02-11 13:08] #350 closed

[2016-02-11 13:09] whimboo commented on #345
This was fixed with my patch on issue #356.

[2016-02-11 13:09] #345 closed

[2016-02-11 13:10] whimboo commented on #278
This was already fixed a while ago for release 1.19.

[2016-02-11 13:10] #278 closed

[2016-02-11 13:10] whimboo commented on #273
This is fixed with my patch on issue #356.

[2016-02-11 13:10] #273 closed

[2016-02-11 13:12] whimboo commented on #217
I did a clean-up via issue #363. So no other warnings should remain.

[2016-02-11 13:12] #217 closed

[2016-02-11 13:13] whimboo commented on #141
Actually a test got landed a while ago:
https://github.com/mozilla/mozdownload/blob/master/tests/base_scraper/test_base_scraper.py#L77

[2016-02-11 13:13] #141 closed

[2016-02-11 13:14] whimboo commented on #135
B2g is officially dead. So I don't see a reason why we have to spend time on that. For connected devices builds we might want to have a new issue once necessary.

[2016-02-11 13:14] #135 closed

[2016-02-11 13:17] whimboo opened #379 "Also release wheel packages for mozdownload"
@edmorley mentioned to me that he would like to have a wheel package of mozdownload. I would have to update my release process according to the information as given on [bug 1220108](https://bugzilla.mozilla.org/show_bug.cgi?id=1220108#c1).

[2016-02-11 13:20] whimboo opened #380 "Add Appveyor support for running unittests on Windows"
We should use http://www.appveyor.com/ to run our unittest on Windows. An example you can find in the mozregression repository: https://github.com/mozilla/mozregression/blob/master/appveyor.yml

[2016-02-11 13:58] whimboo opened #382 "Make use of Travis' container based infrastructure"
To speed-up test execution we should make use of the container based infrastructure. This require only a small change.

Details:
http://docs.travis-ci.com/user/migrating-from-legacy/

[2016-02-11 14:10] whimboo commented on #382
PR #383 has been merged.

[2016-02-11 14:10] #382 closed

[2016-02-11 19:27] whimboo commented on #380
PR #384 has been merged.

[2016-02-11 19:27] #380 closed

[2016-02-11 19:33] whimboo commented on #378
PR #381 has been merged.

[2016-02-11 19:33] #378 closed

[2016-02-11 19:58] whimboo commented on #379
I will try out the steps as layed out on the referenced bug for the 1.20.1 release, and submit a patch for CONTRIBUTION.md after the release.

[2016-02-11 20:06] whimboo opened #385 "Release version 1.20.1"
Mozdownload 1.20 was a bustage release so we have to release a minor update with the fix included. To ensure that we don't fail again I also added coverage for OS X and Windows. So I feel way better now.

The following tasks have to be performed:
- [x] Land all blockers
- [x] Update setup.py for version bump
- [x] Update History.md (git changelog --list)
- [x] Tag version 1.20.1
- [ ] Release to p

[2016-02-11 20:19] whimboo commented on #385
PR #386 has been merged. Doing the tagging and release now.

[2016-02-11 20:30] whimboo commented on #385
Tagged version 1.20.1:
https://github.com/mozilla/mozdownload/commits/1.20.1

Released to pypi:
Uploading distributions to https://pypi.python.org/pypi
Uploading mozdownload-1.20.1-py2-none-any.whl
Uploading mozdownload-1.20.1.tar.gz

[2016-02-11 20:30] #385 closed

[2016-02-11 22:23] whimboo commented on #379
PR #387 got merged.

[2016-02-11 22:23] #379 closed

[2016-02-11 23:04] whimboo opened #388 "Querying Treeherder by revision fails due to invalid usage of platform value"
The unittests haven't caught this problem but a late refactoring on PR #370 broke the filter for the API request of jobs:

"GET /api/project/mozilla-beta/jobs/?platform=build_platform&result_set_id=2441562&job_type_name=Build&option_collection_hash=102210fe594ee9b33d82058545b1ed14f4c8206e&exclusion_profile=False HTTP/1.1" 200 None

Notice the invalid value of `build_platform` as actual platform va

[2016-02-12 15:35] whimboo opened #390 "Release version 1.20.2"
If it happens once it can happen a second time! So we need another bug fix release given that querying Treeherder is broken with the platform filter applied. The fix will land soon, so we can release a new version today.

The following tasks have to be performed:
- [x] Land all blockers
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.20.2
- [ ] Release to pypi (sd

[2016-02-12 17:07] Motwani commented on #359
Yes , I would like to work on this issue.

I am not sure what you meant by "switch away from unittest " ?

[2016-02-12 20:10] whimboo commented on #359
My fault given that I also don't know about those details yet. So pytest seem to be a testrunner which supports unittest like tests. So we hopefully shouldn't have to change any of our tests.

[2016-02-12 21:21] whimboo commented on #388
PR #389 has been merged.

[2016-02-12 21:21] #388 closed

[2016-02-12 21:38] whimboo commented on #379
I pushed a follow-up here given that you also need the `wheel` package installed:
https://github.com/mozilla/mozdownload/commit/bb5dc8f884f0f912c6b1bb9a823fa2904a1bcc08

[2016-02-12 21:40] whimboo commented on #390
PR #391 has been merged. Going to do the release now.

[2016-02-12 21:42] whimboo commented on #390
Created tag 1.20.2:

https://github.com/mozilla/mozdownload/commits/1.20.2

Released to pypi:

Uploading distributions to https://pypi.python.org/pypi
Uploading mozdownload-1.20.2-py2-none-any.whl
Uploading mozdownload-1.20.2.tar.gz

[2016-02-12 21:42] #390 closed

[2016-02-12 21:46] mjzffr opened #392 "Rewrite do_filter in treeherder/test_api to use `all` built-in"
In PR https://github.com/mozilla/mozdownload/pull/389, I suggested transforming `query_options` into a list of (option, value) pairs and then rewriting `do_filter` to use `all` on that list to determine whether an entry matches all the query parameters.

"<whimboo> maja_zf: i would suggest we make this improvement if we move this json handler to the general testcase class - once there might be a n

[2016-02-29 13:45] whimboo opened #393 "For tinderbox builds SDK packages are getting downloaded"
$ mozdownload -t tinderbox
INFO | Downloading from: https://archive.mozilla.org/pub/firefox/tinderbox-builds/mozilla-central-linux64/1456743888/firefox-47.0a1.en-US.linux-x86_64.sdk.tar.bz2

[2016-02-29 13:48] whimboo commented on #393
The reason therefore is that the binary regex is too general:
https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L805

[2016-03-04 07:56] Motwani commented on #365
Hi @whimboo I am interested in this issue.

[2016-03-04 09:10] whimboo commented on #365
That sounds good. If you want, you can take it! One thing I want to note is that we might want to refactor mozdownload first so we can have the three possible download solutions as independent packages. Those are:

* Scrapers (archive.mozilla.org)
* Treeherder (by revision)
* Taskcluster

The Taskcluster method we might be able to use for everything nowadays. But at some point in the past we have

[2016-03-04 10:13] whimboo opened #395 "Add pylama call to tox config file"
Right now we are running pylama only for Travis and AppVeyor. It would be good to add this call to the tox.ini file instead so that we can also benefit from that in local testing.

@Motwani would you like to take this issue?

[2016-03-04 10:20] whimboo commented on #359
PR #394 got merged.

[2016-03-04 10:20] #359 closed

[2016-03-04 10:27] whimboo opened #396 "Add coverage support for py.test run"
We would like to know our test coverage for code under the mozdownload directory. Therefore we need the coverage tool installed and used. As a start we could have a look at mozregression in how it's doing it: https://github.com/mozilla/mozregression.

[2016-03-06 23:20] Motwani commented on #395
Yep I would love to work on this :)

[2016-03-07 17:47] whimboo opened #398 "Allow to run individual test files / folders via tox"
I would like to run a single folder with tests or a test only via tox. Therefore {posargs} can be used.

@Motwani do you want to do the small change?

[2016-03-08 17:50] Motwani commented on #398
Calling many tests via posargs fails to call mozhttpd_base_test.py thus making it difficult to call all tests.

Any idea how to fix this along with adding {posargs} ? @whimboo

[2016-03-09 09:49] whimboo commented on #395
This looks great now. I will get it merged in a moment.

[2016-03-09 09:49] whimboo commented on #395
Merged the PR as https://github.com/mozilla/mozdownload/commit/0cbc6a183a613ee553a4a1759eae72155f1468b3.

[2016-03-09 09:49] #395 closed

[2016-03-09 10:13] whimboo commented on #398
Looks like the problem here is the base directory discovery. When we pass in specific tests those are all a level below the `tests` folder and the `mozhttpd_base_test.py` module. As result pytest cannot find the customized TestCase class. @davehunt would you have a suggestion for us what's best here?

[2016-03-10 13:50] davehunt commented on #398
I would suggest asking in #pylib on IRC. I've not encountered this issue in any of my projects.

[2016-03-21 17:41] whimboo commented on #398
Hi @Motwani. Where you able to find some time to check on the beforementioned IRC channel on a freenode server?

[2016-07-12 22:23] edmorley opened #400 "Use the responses library rather than httpd"
`TestAPI()` currently uses httpd to fake out Treeherder API responses, when this could be done much more simply using the responses library:
https://github.com/getsentry/responses

This would also mean the `host` and `protocol` arguments to `Treeherder` could be dropped, since all other consumers of it use the default Treeherder production instance.

[2016-07-18 09:35] whimboo commented on #400
Sweet. Thanks for this hint @edmorley. I haven't known this package yet. It indeed sounds like a good idea.

[2016-07-25 21:01] Nebelhom opened #403 "Explanation of tox usage in README"
I was absent during the change to tox as a testing environment and was not aware of the package.

As a consequence, I had no idea how to start running the tests.

This should be outlined somewhere, most likely in the README...

[2016-07-25 21:10] Nebelhom opened #404 "test android-api-9 needs updateing"
The current tests throw an error (see below).

This is due to [https://github.com/mozilla/mozdownload/blob/master/tests/remote/test_fennec.py#L17](url)

We are now on api-15, so we need to add a date to this, similar to api-11.

[code]

[2016-07-26 18:34] Nebelhom opened #406 "Skipped tests while running tox"
While fixing the failed test in fennec for issue #404 , I noticed that there are also 3 tests that are skipped (see log below).

It needs to be investigated why that happens and switch it off as the intention is to test all parts.

Log:

[code]

[2016-07-26 19:59] whimboo commented on #404
PR #406 got merged for 1.21 release.

[2016-07-26 19:59] #404 closed

[2016-08-03 13:10] Standard8 opened #407 "Mozdownload should support downloading the unbranded versions of Firefox for extension testing"
For Hello's functional tests, I was using mozdownload to get Firefox for testing. Now I currently need unbranded builds, it seems I can no longer use mozdownload. I don't have a strict case for myself moving fownard, however, it might be useful for other add-on developers if mozdownload could be extended to support the unbranded versions of Firefox as well.

[2016-08-04 14:53] whimboo commented on #407
@Standard8 where can those files be found?

[2016-08-05 15:44] Standard8 commented on #407
If you look at this page:

https://tools.taskcluster.net/index/artifacts/#gecko.v2.mozilla-beta.latest.firefox/gecko.v2.mozilla-beta.latest.firefox.macosx64-add-on-devel

Especially the get requests, then you can get the information for the latest artifacts.

Unfortunately that's the best / only method available according to releng.

[2016-08-05 15:56] whimboo commented on #407
Unfortunately we do not support downloads from taskcluster yet. See issue #365. So this issue is blocked.

[2016-08-09 16:35] freaktechnik commented on #407
I've solved this problem in [get-firefox](https://npmjs.com/freaktechnik/get-firefox). It does something similar to this program, however is a little bit more high-level to my understanding and is written in js.

Using the official taskcluster-client package it takes three calls, including downloading the file to get the file. You have to know two things: the namespace of the task (`gecko.v2.mozil

[2016-08-10 08:39] whimboo commented on #407
Taskcluster is unaware of file types. You would have to filter the retrieved artifacts on your own.

For more discussions about the taskcluster topic I would suggest we move to issue #365.

[2016-08-14 11:52] Nebelhom commented on #406
Update: The reason for the skipped tests are as follows:

https://github.com/mozilla/mozdownload/blob/master/tests/remote/test_firefox.py#L253

and

https://github.com/mozilla/mozdownload/blob/master/tests/remote/test_thunderbird.py#L246

Are these skips still necessary?

[2016-08-15 07:40] whimboo commented on #406
Are we able to download a latest try build? Even then I wonder if it makes sense. Personally I don't find it useful given that checkins are not stacked on top, but are all based on a changeset from which they are based from. Maybe in combination with the username it would make sense.

Regarding Thunderbird I still see a lot of bustage: https://treeherder.mozilla.org/#/jobs?repo=comm-central. Until

[2016-08-23 07:45] whimboo commented on #407
The website which lists the unbranded builds can be found here:
https://wiki.mozilla.org/Add-ons/Extension_Signing#Unbranded_Builds

As listed there the builds can also be found on archive.mozilla.org e.g. for release on Linux64:
http://archive.mozilla.org/pub/firefox/tinderbox-builds/mozilla-release-linux64-add-on-devel/

As of now we only have a simple --debug option (flag), but that would need

[2016-09-19 20:35] whimboo opened #408 "Release version 1.21"
Looks like we have to get version 1.21 released to keep support in downloading try builds. Remaining issues I will move to the next milestone.

The following tasks have to be performed:
- [x] Land all blockers
- [x] Update setup.py for version bump
- [x] Update changelog
- [x] Tag version 1.21
- [ ] Release to pypi (sdist and bdist_wheel packages)

[2016-09-20 10:21] whimboo commented on #408
Tagged release as:
https://github.com/mozilla/mozdownload/commits/1.21

Pushed to PyPI:
creating build/bdist.macosx-10.11-x86_64/wheel/mozdownload-1.21.dist-info/WHEEL
Uploading distributions to https://upload.pypi.org/legacy/
Uploading mozdownload-1.21-py2-none-any.whl
Uploading mozdownload-1.21.tar.gz

[2016-09-20 10:21] #408 closed

[2016-09-30 09:56] juj opened #410 "Mozdownload 1.21 does not find Fennec builds"
Running `mozdownload --version=latest --type=daily --date=2016-09-25 --application=fennec -p android-api-15`

gives

    INFO | Retrieving list of builds from https://archive.mozilla.org/pub/mobile/nightly/2016/09/
    Traceback (most recent call last):
      File "c:\python27\lib\runpy.py", line 174, in _run_module_as_main
        "__main__", fname, loader, pkg_name)
      File "c:\python27\lib\r

[2016-10-03 10:24] Prashant-Surya commented on #344
Can i work on this issue?

[2016-10-07 20:18] whimboo commented on #410
The folder exists indeed but there is no multi build contained. So this should be the problem here. If you would add `--locale=en-US` it should work. Can you please verify that? Thanks.

[2016-10-10 15:25] whimboo opened #413 "Remote tests broken due to non-existent candidate builds"
As noticed in PR #412 the remote tests are broken. The candidate builds for Firefox and Thunderbird which are referenced do no longer exist. It would be good to make it less error-prone by using the latest version but that would require some regex handling for the tests.

I would propose that we simply bump the versions for now and add the latest check in a follow-up.

[2016-10-14 12:28] whimboo commented on #344
@Prashant-Surya you are welcome to do so! Sorry for the late reply, but I was away a couple of days and had to work through a lot of email to finally reach this notification from github. Please let me know if you are still interested in. Thanks.

[2016-10-14 13:22] davehunt opened #415 "Add support for python 3"
As support for python 2.7 is going to be dropped in 2020, we should prepare mozdownload to work against python 3.

[2016-10-15 01:27] haouech commented on #241
Hello,
I'm wondering, we need to pass a checksum as a parameter for the download() method and after the _download() has finished we need to generate and compare hashes?

[2016-10-16 06:04] Prashant-Surya commented on #344
@whimboo yes, I'm still interested. I'll send a pull request.

[2016-10-17 13:56] whimboo commented on #241
So for each platform we have a `[checksums](https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/firefox-52.0a1.en-US.linux-i686.checksums)` file located right next to the builds. This file contains checksums for all files related to the platform. So we should check first if such a file is present, download it, and then we can generate the hash locally and compare it with the one

[2016-10-17 23:57] haouech commented on #241
I would like to work on this issue

[2016-10-18 06:51] whimboo commented on #241
Sure, go ahead and let us know how you proceed and where you need help. Don't hesitate to ask your questions on IRC. You can find me in the #automation channel. Thanks.

[2016-10-19 19:16] whimboo commented on #415
As a first step I would suggest that we import a set of future modules like:

This should help us while improving our code with Python 2.7 not to add new broken 3.x code.

Once all works for Python 3.x we should get it tested via Travis and AppVeyor.

[2016-10-20 12:21] juj opened #417 "Installing mozdownload via pip on Linux Mint 18 errors on invalid command 'bdist_wheel'"
Trying to install mozdownload on a Linux Mint 18 system, here's my results

[code]

I wonder if there might be a workaround that could be tried here?

[2016-10-20 12:27] juj commented on #410
Thanks! Adding `--locale=en-US` does work.

It might be helpful to improve the error message here, since it says "Folder [...] not found: <url>", which makes the error message interpretable as "this URL does not exist -> <url>". Perhaps the appropriate error here would be to say that "multi-build <url-to-apk-name> does not exist for this date" or similar, if that is the actual error?

Btw, any ide

[2016-10-20 13:01] whimboo commented on #410
Improving the error messages right now would be hard. Instead we should really do a refactoring of the code which is long outstanding and can help us with better messages.

For this specific case the [multilocale build failed](https://archive.mozilla.org/pub/mobile/nightly/2016/09/2016-09-25-03-02-26-mozilla-central-android-api-15/mozilla-central-android-api-15-nightly-bm74-build1-build45.txt.gz)

[2016-10-20 13:01] #410 closed

[2016-10-20 21:27] whimboo commented on #417
Do you have the wheel package installed for Python? If not please do so `pip install wheel`.

[2016-11-01 13:43] Nebelhom opened #418 "pylama failures"
In PR #412, we are seeing a bunch of pylama failures in appveyor and travis.

Before we can land the above PR we need to resolve those issues.

Minimal suggestionon what to do are to add at least a config file for pylama including an allowed line-length of 100 chars instead of 80 only.

[2016-11-01 13:44] Nebelhom commented on #418
@whimboo This issue should block #412 until resolved.

[2016-11-14 13:30] whimboo opened #420 "Failure in test_optional_authentication: [Errno -2] Name or service not known"
It looks like that https://webqa-ci.mozilla.com/ is no longer a valid URL. If we want to continue with optional basic authentication we should use the following URL instead:

http://www.mozqa.com/data/mozqa.com/http_auth/basic/

@Nebelhom, do you want to get this fixed?

[2016-11-15 15:30] Nebelhom commented on #420
Hi whimboo,

I will look into it. Issue is that http://www.mozqa.com/data/mozqa.com/http_auth/basic/ is already the URL that is used for testing.

https://github.com/mozilla/mozdownload/blob/master/tests/base_scraper/test_base_scraper.py#L81

Do we have another option?

Thanks :)

[2016-11-15 16:08] whimboo commented on #420
Lets get this test removed. Given that basic auth works we can implicitly say that it will also work for optional auth.

[2016-11-15 16:22] whimboo commented on #420
PR #421 got merged.

[2016-11-15 16:22] #420 closed

[2016-11-15 17:20] whimboo commented on #418
PR #419 got merged.

[2016-11-15 17:20] #418 closed

[2016-11-17 19:46] whimboo commented on #398
PR #412 got this fixed. Thanks Johannes!

[2016-11-17 19:46] #398 closed

[2016-11-17 21:27] Nebelhom commented on #403
This issue was resolved with PR #412 so it can be closed.

[2016-11-18 10:57] #403 closed

[2016-12-04 17:48] myrdd commented on #407
I'd highly appreciate this feature.

[2016-12-05 08:26] whimboo commented on #407
Looks like we are not dependent on the taskcluster implementation. So it's not blocked. If someone wants to work on it, I'm happy to mentor.

[2016-12-06 22:12] Nebelhom commented on #415
Hi,

If you guys don't mind, I will try my hand at this.

I will follow this guide here: http://python-future.org/compatible_idioms.html

[2016-12-06 22:18] whimboo commented on #415
Sounds great. Lets make sure to submit smaller commits which contain changes to a single type of change only. That would allow me to review the patches way faster.

[2016-12-06 23:16] Nebelhom commented on #415
Agreed. I noticed that absolute_imports and unicode_literals have already been done in the files.

Based on the link above I would check for the following things first, to make sure it is not an issue:

* print_function
* Raising & Catching Exceptions
* Division (especially `//` for integer division)
* Metaclasses
* Dictionaries
* Custom classes
* Lists vs. iterators

I cannot say which of the abo

[2016-12-07 08:34] whimboo opened #424 "Add support for pyup.io"
Pyup.io can be used to stay up2date with dependencies. It will automatically issue pull requests with details about news in that version. See https://github.com/mozilla/PyPOM/pull/17 for example.

[2016-12-07 08:38] whimboo commented on #415
I think that sounds fine. Beside that there is no reason to file other issues for each individual item. Just create a single pull request and add separate commits for each of those areas.

[2016-12-07 08:39] whimboo commented on #415
Otherwise we can also do multiple PRs for this issue if that makes it easier for you.

[2016-12-07 21:04] Nebelhom commented on #415
I suggested to do it this because I thought it would be easiest for you to review it. Having many commits for each change in one PR feels difficult for me to debug.

I would prefer multiple PRs tied to this issue. I will just subdivide them...

[2016-12-08 06:05] Nebelhom commented on #415
@whimboo Before I start with this, what is our philosophy on importing from `__future__`?

Do we only import when it is necessary inside the function, or do we do a blanket import of all modules in each file to proactively prevent any py27 -> py3 bugs from occurring..

Example print_function:
Print is not called in the function, so we leave the import out. 2 months later someone adds a print state

[2016-12-08 19:23] whimboo commented on #415
I would say that we import whats needed. This is also the only way for you to update our code step by step for the necessary changes. We make use of that also in the gecko tree, so I think that this is the right solution. If a module misses an import please add it appropriately. Thanks.

[2016-12-13 22:02] Nebelhom commented on #415
Hi @whimboo,

I know it sounds silly, but I'll ask anyways: "How do I know which import is 'needed'?"

I've played around with trial and error imports to see if I get error messages that need fixing. I tried to use `futurize`, which broke all sorts of coding style rules in the process.

In both instances, I could not arrive at a satisfactory method to find out whether an import in a file is needed

[2016-12-16 16:40] whimboo commented on #415
Check the code for mozbuild. It makes use of all that a lot. You should find some good examples there what specifically to import.

https://dxr.mozilla.org/mozilla-central/source/python/mozbuild/mozbuild/

Best is to figure out which future imports exists and which we would need. Then do PRs for each additonal import?

[2017-02-04 14:15] Nebelhom opened #426 "E722 (No bare excepts) needs to be fixed"
An update in pycodestyle causes pylama in scraper.py to fail with E722.

This needs to be fixed. For the moment this will be ignored in setup.cfg, but we should really fix this.

[2017-02-04 18:22] Nebelhom commented on #415
Hi @whimboo

I looked further into this issue and after running a tox in a python3 environment (thx @davehunt for showing me how to ;) ), I noticed that it raises some mozfile errors (see 2 examples below).

Will mozfile be changed to python3 any time soon or do we need to find an alternative to that if we want to become python3 compatible?

Traceback:

[code]

[2017-02-05 14:19] davehunt commented on #415
mozdownload depends on mozinfo, the the tests depend on mozfile and mozprocess. These packages belong to mozbase, which does not yet support Python 3. Furthermore, these packages are not used or testing in Python 3 environments. We would either need to explore alternatives, or mark this issue as dependent on one for mozbase to be upgraded to support Python 3. If you are interested, this would be a

[2017-02-05 22:22] Nebelhom commented on #415
Hi @davehunt and @whimboo

I am in general interested in doing that, however, this sounds like a fair bit of work. Judging by my recent output, I am wondering whether this would be better suited to an intern of yours or something like that.

You are the better judges of the workload this takes.

[2017-02-06 07:03] whimboo commented on #415
I think updating mozbase packages for some `__future__` imports should be an easy going route. Especially like the above listed print styles. It's really easy and should not take that long. Various scripts in [mozbuild](https://dxr.mozilla.org/mozilla-central/source/python/mozbuild/mozbuild/mach_commands.py) are already doing that, and we could mirror. Then once fixed I can release new packages. H

[2017-02-07 17:56] whimboo commented on #396
PR #425 finally got this feature added. Thank you a lot Johannes!

[2017-02-07 17:56] #396 closed

[2017-02-07 21:39] Nebelhom commented on #415
@whimboo Once I have time again, I will look into that. The next couple of weeks are quite busy.

The most important thing for me is to set up a valid test case that I can work with, so I have visibility. Is there a webpage that outlines how to set something like this for mozbase?

Thanks :)

[2017-02-13 09:22] whimboo commented on #415
I think mozbase related questions we should move to the appropriate bug. But just a quick reply on that might not hurt... Tests for mozbase can be run through `./mach python-test testing/mozbase`. The appropriate [wiki page](https://wiki.mozilla.org/Auto-tools/Projects/Mozbase) hasn't been updated yet for it, but that should hopefully be done soon.

[2017-03-06 19:19] EricRahm opened #427 "mozdownload doesn't handle artifact builds"
STR:

Note [this build exists](https://treeherder.mozilla.org/#/jobs?repo=mozilla-inbound&revision=239f0df955d162fbad479925d8dadccf197e88f8), but it happens to have been an artifact build for linux64 opt.

[2017-03-06 19:29] EricRahm commented on #427
I thought this was related to artifact builds, but the build is there it's just listed under `tc` now.

[2017-03-06 19:39] EricRahm commented on #427
I'm reasonably sure this is because we're [filtering on the job type being 'Build'](https://github.com/mozilla/mozdownload/blob/f07f71c178c5bc6ee631594645a3c102e0f726c5/mozdownload/treeherder.py#L89).

[2017-03-06 19:53] EricRahm commented on #427
For background: we stopped doing buildbot builds for linux a while back (January or earlier). Buildbot builds had a `job_type_name` of 'Build' which we filter on. Taskcluster builds have a less deterministic `job_type_name` of 'build-<platform>/<build_type>'. So for example linux 64 opt is 'build-linux64/opt', linux opt is 'build-linux/opt', win32 debug is 'build-win32/debug', etc.

[2017-03-06 20:16] EricRahm commented on #427
It also looks like mozdownload expects the job log URL to have the application name in it, which is no longer the case.

[2017-03-06 22:44] EricRahm commented on #427
Further debugging indicates this comes down to task cluster support which is #365. Closing in favor of that.

[2017-03-06 22:44] #427 closed

[2017-03-06 22:45] EricRahm commented on #365
This is more important now that we've stopped doing Linux buildbot builds. I looked into fixing things, but it boils down to a few tweaks in treeherder.py and then completely replacing the `Scraper`s with something that doesn't depend on archive.m.o

[2017-03-06 23:08] EricRahm commented on #365
glandium pointed out that the code behind `mach artifact install` might be a useful starting point, there's also code in `mozregression` that could probably help.

[2017-03-07 08:37] whimboo commented on #365
Lets wait for a response from Releng on [bug 1344936](https://bugzilla.mozilla.org/show_bug.cgi?id=1344936) before making a decision what could be done with mozdownload, and especially when.

[2017-03-14 13:14] whimboo opened #428 "Fix binary_regex for candidate/release scraper"
As noticed in https://github.com/mozilla/mozmill-ci/issues/828 we have a kinda strict limitation to our regex for the binary of candidate and release builds:

https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L601

The problem here is that we are not able to download some of the files when using `--extension` because there is a different file naming convention for Windows a

[2017-03-14 14:29] whimboo commented on #428
PR #429 got merged.

[2017-03-14 14:29] #428 closed

[2017-03-14 14:32] whimboo opened #430 "Update package version dependencies"
Before we do a new release of mozdownload we should bump the different dependent package versions.

[2017-03-14 15:33] whimboo commented on #430
PR #431 got merged.

[2017-03-14 15:33] #430 closed

[2017-03-14 15:54] whimboo commented on #417
Closing out as WFM also due to missing response.

[2017-03-14 15:54] #417 closed

[2017-03-14 15:56] whimboo commented on #426
Ups. I had merge issue when I was working on PR #429. So I fixed that because it was not listed as a warning. But what I missed is to remove the comment. I can just push a comment only fix for that.

[2017-03-14 16:25] whimboo commented on #426
PR #432 got merged.

[2017-03-14 16:25] #426 closed

[2017-03-14 16:30] whimboo opened #433 "Release version 1.22"
I would like to release a new version of mozdownload with a fix that would allow us to download particular files with `--extension` for candidate builds.

Remaining issues I will move to the next milestone.

The following tasks have to be performed:
- [x] Land all blockers
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.22
- [ ] Release to pypi (sdist and bdist_wh

[2017-03-15 13:48] whimboo commented on #433
PR #434 got merged. Means we are code complete. I'm going to do the release now.

[2017-03-15 16:40] whimboo commented on #433
Tagged release v1.22:
[code]

Released to PyPI:
[code]

All done for this version! Thanks everyone for their contribution!

[2017-03-15 16:40] #433 closed

[2017-04-03 19:56] whimboo commented on #344
PR #416 got merged.

[2017-04-03 19:56] #344 closed

[2017-04-12 11:34] whimboo commented on #415
I have just another idea to speed things up for this project. Why don't we get rid of the `mozinfo` dependency? It looks like it's the only one which is bases on `mozbase` and is blocking us with the conversion. I really don't want to wait for mozbase.

For the tests we might easily be able to get rid of `mozfile` too. Even a replacement for `mozprocess` should be not that hard to do.

[2017-04-18 07:38] whimboo opened #436 "Remove b2g related code from the repository"
Given that `B2G` is no more, we should remove all the code from the repository.

[2017-04-20 08:19] whimboo opened #437 "Wrong build number displayed for candidate build"
Just run the following command to see the broken output. Luckily we still download the correct version.

[code]

I assume that we print the index of the build but not the actual name what we should do.

[2017-04-25 21:26] EricRahm opened #438 "mozdownload can't download nightly debug builds"
This is probably fallout from the whole "we don't put builds on archive.m.o anymore" debacle.

[2017-05-02 11:33] whimboo commented on #438
This is basically [bug 1360550](https://bugzilla.mozilla.org/show_bug.cgi?id=1360550), and not an issue with mozdownload.

[2017-05-02 11:33] #438 closed

[2017-06-16 18:26] armenzg commented on #365
<&jonasfj> I don't there is a tool, but:
2:11 PM an HTTPS client with retries, following redirects, supporting content-encoding: gzip, should be able to just fetch it from index.taskcluster.net/v1/task/<indexPath>/artifacts/<name>
2:13 PM docs: https://docs.taskcluster.net/reference/core/taskcluster-index/references/api#findArtifactFromTask
2:21 PM G<&garndt> armenzg: this is the latest artifacts

[2017-06-20 09:06] davehunt commented on #365
I recently learned of [fuzzfetch](https://github.com/MozillaSecurity/fuzzfetch) from @tysmith, developed and used by the fuzzing team.

[2017-07-25 22:21] MihaiTabara opened #440 "Stub installers no longer working since they changes in bug 1372260."
(mozdownload) mihaitabara@mozspace:[master]~/work/mozilla/clones/git/mozdownload$ mozdownload --version=latest-beta --platform=win32 --stub
Traceback (most recent call last):
....
mozdownload.errors.NotFoundError: Binary not found in folder: https://archive.mozilla.org/pub/firefox/releases/55.0b12/win32/en-US/

Sounds like https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L

[2017-08-02 12:55] whimboo commented on #440
@MihaiTabara I don't understand the `tl;dr` part of your comment. When I check latest nightly build folders on central I see `firefox-57.0a1.en-US.win32.installer-stub.exe` but not `Firefox%20Installer.en-US.exe`. Can you please clarify?

[2017-08-02 12:57] whimboo commented on #440
Also your beta/release is unclear to me. Here links to the build directories:

https://archive.mozilla.org/pub/firefox/nightly/2017/08/2017-08-02-10-03-02-mozilla-central/
http://archive.mozilla.org/pub/firefox/candidates/55.0b9-candidates/build2/win32/en-US/

[2017-08-05 15:31] edmorley opened #441 "Update to treeherder-client 4.0.0"
Currently the range in setup.py is `treeherder-client >= 3.0.0, <4.0.0`:
https://github.com/mozilla/mozdownload/blob/838413b5b12b06a78592514ccf008aa89b7f8f4f/setup.py#L31

Please can you bump to `treeherder-client >= 4.0.0, <5.0.0`.

For the changes, see:
https://bugzilla.mozilla.org/show_bug.cgi?id=1387711#c2

[2017-08-11 13:23] whimboo commented on #441
I assume you mean `treeherder-client >= 4.0.0, <5.0.0`

[2017-08-11 15:50] edmorley commented on #441
Ah yes, I forgot to update after copy-pasting. Have fixed the above now :-)

[2017-08-21 11:37] whimboo commented on #440
My question has been solved given that I missed that the stub installers have a prefix of `Firefox`  now, which means those files are placed at the very top of each folder now. I was looking under win32 and win64 builds.

I will work on this now.

[2017-08-22 12:47] #440 closed

[2017-08-22 12:52] whimboo commented on #393
AFAIR this was a problem only for a single release when the SDK files have been put by accident into the build folders. I cannot reproduce this anymore. So closing out for now.

[2017-08-22 12:52] #393 closed

[2017-08-22 12:53] whimboo commented on #436
Lets make this part of the 1.23 release.

[2017-08-23 11:31] kenorb opened #443 "ValueError: 'format' in __slots__ conflicts with class variable"
[code]

[2017-08-23 18:20] whimboo commented on #436
PR #436 has been merged.

[2017-08-23 18:20] #436 closed

[2017-08-25 11:44] whimboo commented on #443
mozdownload is not supposed to work with Python 3 yet, sorry. In the case you want to help add support for it please have a look at issue #415. Thanks.

[2017-08-25 11:44] #443 closed

[2017-09-05 14:13] ujjwalwahi commented on #437
Hi @whimboo I would like to work on this issue

[2017-09-05 15:48] whimboo commented on #437
Sure. You are welcome to work on this issue @ujjwalwahi. Let me know if you have questions.

PS: Make sure that it is still a problem.

[2017-09-05 16:51] ujjwalwahi commented on #437
@whimboo I checked and it was still displaying incorrect info for selected build. Created pull request for the same.

[2017-09-05 21:44] #437 closed

[2017-09-05 21:47] whimboo opened #445 "Invalid build number for candidate scraper should fail"
By running the following code, we incorrectly download `build6` instead of failing because there is no `build2` available.
[code]

[2017-09-18 12:48] whimboo commented on #211
There is also https://github.com/tqdm/tqdm, but maybe we should just change to progressbar2, and upgrade to its latest release. It's still under active development.

[2017-09-20 07:57] whimboo opened #446 "Release version 1.23"
The following tasks have to be performed:
- [x] Land all blockers
- [x] Update setup.py for version bump
- [x] Update changelog
- [ ] Tag version 1.23
- [ ] Release to pypi (sdist and bdist_wheel packages)

[2017-09-20 07:57] whimboo commented on #441
I would like to squeeze this into the upcoming 1.23 release. A PR should be up in a moment.

[2017-09-20 08:10] whimboo commented on #424
This is finally done now given that I totally missed to do it in all the last months. The initial PR from pyup.io is here: https://github.com/mozilla/mozdownload/pull/448

[2017-09-20 08:17] whimboo commented on #280
We support pyup.io now. See issue #424.

[2017-09-20 08:17] #280 closed

[2017-09-20 20:58] whimboo commented on #441
PR #447 has been merged.

[2017-09-20 20:58] #441 closed

[2017-09-21 07:45] whimboo commented on #424
@davehunt, as it looks like pyup.io only proposed updates for the packages as required for tox. What would we have to change so it also checks the mozdownload dependencies?

[2017-09-21 10:45] whimboo commented on #446
PR #449 got merged.

Tagged the 1.23 release:

Released to PyPI:

Thanks everyone who contributed to this release!

[2017-09-21 10:45] #446 closed

[2017-09-21 13:21] davehunt commented on #424
@whimboo see the discussion in https://github.com/pyupio/pyup/issues/137

[2017-09-26 11:26] #181 closed

[2017-09-26 11:53] whimboo commented on #424
Ok, so that means we would have to create a `requirements.txt` file with the list of packages and versions, and read it inside of setup.py. We already do that for various other projects, so that shouldn't be a complex change. For example check: https://hg.mozilla.org/mozilla-central/file/default/testing/marionette/client/setup.py#l48

@Nebelhom would you be interested to make this change?

[2017-09-26 19:14] Nebelhom commented on #424
Hi @whimboo Thanks for highlighting. I will give it a go.

[2017-10-05 06:16] nathanielnebel commented on #211
I would be interested in working on this bug, would it still be possible to receive mentoring?

[2017-10-05 07:03] whimboo commented on #211
Hello @nathanielnebel. Sure, this issue is still available to pick up. And I'm happy to mentor.

Given the still open question of what to use, I would say we keep progressbar and update it to progressbar2. There should be minimal efforts necessary to do that, and would be a good starting point for you.

Let me know what kind of issues you have or if something is not clear. I will respond as soon a

[2017-10-05 22:03] nathanielnebel commented on #211
Changes are in pull request# 452.

[2017-10-09 12:43] whimboo commented on #211
Hi @nathanielnebel. Thank you for doing the work, and it's good to hear that we don't need any changes in our code. I will have a look at your PR in a moment.

[2017-10-09 12:48] whimboo commented on #211
PR #453 got merged now.

[2017-10-09 12:48] #211 closed

[2017-10-09 12:49] whimboo commented on #211
@nathanielnebel in case you are interested to contribute a bit more please let me know and we can certainly find a new issue for you, or maybe you can find yourself from the list of open ones.

[2017-10-09 14:12] whimboo commented on #424
I merged PR #450. Thank you a lot Johannes! Lets see how it works...

[2017-10-09 14:12] #424 closed

[2017-10-09 23:17] nathanielnebel commented on #211
@whimboo If there are any issues that you think would be important to resolve let me know and I will get to work on some fixes!

[2017-10-12 19:38] whimboo commented on #343
This issue might not be appropriate to people. At least no-one gave negative feedback so far. So I'm going to close this for now. We can reopen if it becomes a real issue.

[2017-10-12 19:38] #343 closed

[2017-10-12 19:41] whimboo commented on #173
Given that we moved to S3 for builds the host http://inbound-archive.pub.build.mozilla.org/ no longer exists. What we would have to do is to get issue #365 finished.

[2017-10-12 19:41] #173 closed

[2017-10-12 19:46] whimboo commented on #211
@nathanielnebel, issue #400 is for our unit tests, but it would be good to see it fixed. In case you are generally interested in Python we also have other interesting projects which could need a helping hand. You could drop me an email in case we should figure out something else.

[2017-12-04 02:39] 7-- opened #458 "Scrolling broken on Thunderbird 52.5.0 32 bit"
When you add an email account to thunderbird and scroll down it will not load older emails rather it does nothing. My setting already specify to download all emails from all folder and my email is syncoronized. Hope you can fix in the next version.

[2017-12-04 10:24] whimboo commented on #458
This repository is not related to Thunderbird and possible defects. You want to check for known issues by consulting https://support.mozilla.org/en-US/products/thunderbird or by filing a new bug under https://bugzilla.mozilla.org/enter_bug.cgi?product=Thunderbird&component=General

[2017-12-04 10:24] #458 closed

[2018-03-29 10:55] whimboo opened #466 "FirefoxRemoteTests.test_tinderbox_scraper fails due to ReadTimeout exception"
Currently our tests are failing in `FirefoxRemoteTests.test_tinderbox_scraper` due to:

As it looks like the list of tinderbox builds is too long, and retrieving all the data exceeds the 60s timeout.

We should get this fixed to unblock us from landing new PRs.

[2018-03-29 12:00] whimboo commented on #466
Here an example job on Travis:
https://travis-ci.org/mozilla/mozdownload/jobs/348503079

[2018-03-29 17:21] whimboo commented on #466
After converting the tests to real pytest format it was easy to discover the failing test. So the problematic test here is the one which retrieves tinderbox builds for mozilla-central on linux64.

I will check more on Tuesday in how we can improve it, or maybe increase the timeout.

[2018-04-04 06:44] whimboo commented on #466
The PR in #467 just landed. I will close this issue if it passes tests again.

[2018-04-04 06:50] whimboo commented on #466
It passed: https://travis-ci.org/mozilla/mozdownload/builds/361990448

[2018-04-04 06:50] #466 closed

[2018-04-04 06:55] whimboo opened #468 "Convert unit tests to plain pytest"
All of our tests for mozdownload still make use of the Python unittest framework, which is not necessary because pytest is used to execute all the tests. As such we should get rid of the test classes, and instead use fixtures. In https://github.com/mozilla/mozdownload/pull/467/commits/e0c9484b3a875cde305c59bd7ed5789c5410d179 I already converted `remote/test_firefox.py`.

We should do the same for

[2018-04-04 07:45] whimboo commented on #406
So I would leave the skip for the remote firefox test, but we should be able to remove it for Thunderbird given that builds seem to be mostly fine those days: https://treeherder.mozilla.org/#/jobs?repo=comm-central&filter-searchStr=build.

[2018-04-04 08:44] whimboo commented on #406
PR #469 fixed that.

[2018-04-04 08:44] #406 closed

[2018-04-04 13:32] whimboo commented on #415
FYI the mozinfo package got already fixed for Python 3 support via [bug 1426330](https://bugzilla.mozilla.org/show_bug.cgi?id=1426330) but hasn't been released yet.

[2018-07-06 09:31] whimboo opened #477 "Add support for Android API level 16"
The Android API level has been changed and since some days the `https://archive.mozilla.org/pub/mobile/nightly/latest-mozilla-central-android-api-15/` link has been removed.

It means we need something similar to PR #367.

[2018-07-06 09:33] whimboo commented on #477
The test which currently fails is `tests/remote/test_fennec.py::FennecRemoteTests::test_daily_scraper`.

[2018-07-23 15:21] whimboo commented on #477
PR #478 got merged.

[2018-07-23 15:21] #477 closed

[2018-07-23 15:22] whimboo opened #479 "Release version 1.24"
The following tasks have to be performed:
- [x] Land all blockers
- [ ] Update setup.py for version bump
- [ ] Update changelog
- [ ] Tag version 1.24
- [ ] Release to pypi (sdist and bdist_wheel packages)

[2018-07-23 17:18] #479 closed

[2018-07-23 17:44] whimboo commented on #479
The version has been released to PyPI.

[2018-08-02 15:06] peterbe commented on #415
For what it's worth, I made this: https://github.com/choller/mozbase/pull/1
I'm not even sure if that's the right repo but it definitely makes `mozinfo` Python 3 (and 2 backwards) compatible.

[2018-08-02 15:47] peterbe commented on #415
I managed to install a working firefox 61 inside a docker container using a hacked version of `mozdownload`. To make it work I had to edit a couple of files that are outside this project such as `mozinfo` and `mozfile`. These changes were really trivial. For what it's worth, we could copy mozinfo *into* this repo and that being a version that works in 2 and 3. And equally do something like that wi

[2018-08-02 17:28] peterbe commented on #415
I got pretty far but stumbled on `wptserve`. It's not py 3 compatible either.

[2018-08-03 06:34] whimboo commented on #415
Sorry that I have to say that your work here was based on a very outdated repository on Github. As it has been made clear via https://github.com/mozilla/mozbase-deprecated the repository is closed, and any further development happens in [mozilla-central/testing/mozbase](http://dxr.mozilla.org/mozilla-central/source/testing/mozbase/). It means that the Github repo is outdated since 2 full years.

M

[2018-08-03 12:13] peterbe commented on #415
It really wasn't that much time. I did a `pip install mozdownload` and tried to run it, got errors, edited the .py files directly until it worked in Py3 and thought "Perhaps I should share this", tried to run the test suite, got nasty errors, gave up and switched to [get-firefox](https://www.npmjs.com/package/get-firefox).

I've ported many projects to py3 and it's surprisingly easy these days wit

[2018-08-06 08:12] whimboo commented on #415
Ok, that is at least good to hear. I already thought that you spent a fair amount of time here.

In case of interest in helping with Python 3 support, feel free to check one of the dependency bugs on Bugzilla. As earlier the required mozbase packages have py3 support, as earlier we can update mozdownload to also be py3 compatible.

Also, I started to convert some of the mozdownload tests to pytest

[2018-08-14 07:24] #204 closed, assigned to nobody

[2018-08-16 12:57] venkateshpitta opened #487 "Convert unit tests in cli to use pytest"
Similar to issue #486 moving from Python unittest framework to pytest, because pytest is used to run tests for mozdownload.

Since there are four files in the directory [https:github.com/mozilla/mozdownload/tree/master/tests/cli/](https://github.com/mozilla/mozdownload/tree/master/tests/cli/), it may be a good idea to submit one PR per file so that work can be done on small patches, one at a time.

[2018-08-17 11:56] whimboo commented on #487
We actually don't need a new issue for each of the sub folders. Lets create all PRs with a reference to #486.

[2018-08-17 11:56] #487 closed

[2018-08-30 23:27] venkateshpitta opened #492 "tests/base_scraper/test_base_scraper.py::test_authentication failed"
The failure error message is,

[2018-08-31 07:58] whimboo commented on #492
Thank you for filing the issue! The problem here is that we shutdown mozqa.com (cc @fox2mike-mozilla-owner), and won't be able to continue to use this remote address to verify basic authentication.

As such I would suggest we do it similarly as for Marionette and register a custom handler for wptserve which can handle that. You can mostly copy and paste what we have here:

https://dxr.mozilla.org/

[2018-08-31 23:12] venkateshpitta commented on #492
@whimboo Yes, I will work on this.

[2018-09-03 08:35] whimboo commented on #492
Great! Thank you.

[2018-09-18 06:56] whimboo commented on #492
This test we should try to fix as soon as possible. @venkateshpitta if you don't have the time to work on it please let me know, and I will update it.

[2018-09-19 07:30] rv404674 commented on #164
Hi @whimboo  is this bug still open and under active development. If yes, can you guide me how to approach it.

[2018-09-19 07:49] pyup-bot opened #497 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2018-09-19 08:59] whimboo commented on #118
We actually never had a request from other people for this feature. Given that we might end-up with a Firefox build also containing all locales similar to Firefox mobile, I would close this issue.

[2018-09-19 08:59] #118 closed

[2018-09-19 09:01] whimboo commented on #164
No, I was just closing issue #118 because it is a feature we don't actually want to have anymore.

But something good to fix would be issue #492. This test is currently broken and needs a fix.

[2018-09-19 09:01] #164 closed

[2018-09-19 11:14] rv404674 commented on #164
Thanks for your help. But one more question, i am a newcomer, have just
build the firefox code. So can you suggest me some new comers bug in
python, i tried codetribute. But some were very much old and has no active
reporter. So can you suggest me on how to proceed.

On Wed, Sep 19, 2018 at 2:31 PM Henrik Skupin <notifications@github.com>
wrote:

[2018-09-19 20:32] whimboo commented on #164
Please note that mozdownload is a separate project, and useful for those who want to download specific binaries of Firefox. It is used in various projects of Mozilla. So you are very welcome to pick one of the mentored issues on this repository (https://github.com/mozilla/mozdownload/issues?q=is%3Aopen+is%3Aissue+label%3Amentored).

For a better discussion of a possible issue, let me know via emai

[2018-09-20 07:49] #497 closed

[2018-09-29 17:31] son-vyas commented on #131
I am new to the mozilla community. Is this issue still active? If it is active than I would like to give it a go.

[2018-09-29 17:32] son-vyas commented on #128
Is this issue still active? I would like to give it a try.

[2018-10-01 08:12] whimboo commented on #131
I actually checked this issue, and due to the work on #468 we will get rid of both mozfile and mozhttpd. As such I don't think this issue is needed anymore.

@son-vyas you could have a look at issue #247.

[2018-10-01 08:12] #131 closed

[2018-10-01 08:14] whimboo commented on #128
This issue is actually not that easy. I would suggest that you try to solve the other one which I referred you to first.

[2018-10-01 09:00] son-vyas commented on #247
Hi everyone, Can I give it a try?

[2018-10-01 09:11] son-vyas commented on #247
Thanks. I will let you know as it is ready

[2018-10-12 12:36] Hyperion101010 commented on #241
is it still open i would like to work on it

[2018-10-16 07:03] whimboo commented on #193
This issue is actually kinda old, and a lot has been changed meanwhile in build generation and upload. So it might not happen anymore, or is less severe as it has been when the issue was filed.

I would suggest that we don't spend our time on that issue anymore and just close it.

@ranjanp75 if you want to work on something else please let me know. Thanks!

[2018-10-16 07:03] #193 closed

[2018-10-16 07:30] whimboo commented on #241
The active PR for this issue is https://github.com/mozilla/mozdownload/pull/454. But we haven't gotten a reply from @haouech for a long time. Maybe you could reply so we can open up this issue again for someone else to work on? Thanks.

[2018-10-16 09:09] silviuFlorin opened #504 "Enhancement - download Firefox Developer Edition based on version"
Currently there is no way to generate an URL for Firefox Developer Edition based on version. This feature could be very helpful in our project.

Example of URL: http://archive.mozilla.org/pub/devedition/candidates/54.0b11-candidates/

Usage suggestion:
[code]

[2018-10-16 13:52] ranjanp75 commented on #193
Hi Henrik,

I am skilled in Python and I would love to work on the components which is
built with Python. Thank you

Regards,
Ranjan P

On Tue, Oct 16, 2018, 12:33 PM Henrik Skupin <notifications@github.com>
wrote:

[2018-10-16 15:45] ranjanp75 commented on #193
Hey,

Yes I would love to work on it . But I need some help with it because I am
new to open source and I want to start contributing. Please guide me
through the process. Thank you.

Thanks & Regards,
Ranjan

On Tue, 16 Oct 2018 at 20:54, Henrik Skupin <notifications@github.com>
wrote:

[2018-10-17 09:40] whimboo commented on #504
This would just be a new application type, which needs to be added. Would you mind providing a patch?

Maybe it would be enough to add it here:
https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L29

[2018-10-18 08:12] whimboo commented on #193
So please lets move all the conversation to the appropriate issue. It doesn't make sense to discuss it here.

[2018-10-18 08:13] whimboo commented on #492
@ranjanp75 would like to try this issue. So given that you are new I would suggest that you first read the Readme of this repository and get the tests running. Once you know how that works we can continue.

[2018-10-19 16:19] Hyperion101010 commented on #241
hi there @whimboo for the #454 issue as you said :you were going to distribute the code in pieces
like write it systematically
i would be happy to help
just two things
1)can you give me the names of files responsible for check_sum in the mozilla build ,
also a short intro on what are you planning like a short set-up will be quite helpful
2)and yeah open the issue let's work together (crytography h

[2018-10-22 14:28] whimboo commented on #504
This got added by PR #505. We may release a new version of mozdownload soon.

[2018-10-22 16:36] whimboo opened #507 "Release version 1.25"
The following tasks have to be performed:
- [x] Land all blockers
- [ ] Update setup.py for version bump
- [ ] Update changelog
- [ ] Tag version 1.25
- [ ] Release to pypi (sdist and bdist_wheel packages)

[2018-10-22 16:49] #507 closed

[2018-10-22 16:53] whimboo commented on #507
Tagged release 1.25:
https://github.com/mozilla/mozdownload/tree/1.25

Released on PyPI:
https://pypi.org/project/mozdownload/1.25/

[2018-10-23 06:03] whimboo opened #509 "Add license and fix layout of README to display properly on PyPI"
The project documentation looks still kinda broken on PyPI, and we should fix it.

[2018-10-25 05:56] whimboo commented on #509
Fixed by PR #510.

[2018-10-25 05:56] #509 closed

[2018-11-04 12:52] wardt7 commented on #445
Hi,

I've started work on this bug and have forked the repository (the bug does still exist after testing it my end); I was just wondering if there's anything I need to know about the ReleaseCandidateScraper itself? I have an idea on how to solve this by checking to see if ('build%s' % self.build_number) returns anything (and if not throwing an exception), but this seems like a super hacky way to

[2018-11-04 15:56] sayanmondal2098 commented on #241
I would like to work on this issue

[2018-11-05 04:15] shanudjn commented on #241
I am new here . I want to work on this bug . Looking for mentorship to get started. Thank you.

[2018-11-05 08:45] whimboo commented on #445
Thank you for your interest in working on this issue. You are welcome to get started. Here some additional information regarding your questions... You don't have to do an additional request. Instead check the method which prints out which builds were found (see my first comment too). If the wanted build like `build2` in the above case is not present, it has to raise a not found error, and not down

[2018-11-06 05:03] Hyperion101010 commented on #129
i would like to help
there will be many possible extensions which one needs to be familiar with
can you provide some pointer that where i start from
i have read the scraper file in mozdownload and i quite understood what it does
it works on the locale and file system names ,so for downloading a file like "jsshell-win32.zip"
we need to create a method specially for that kind of file formats
can you

[2018-11-12 10:17] whimboo commented on #313
Hard to say right now, given that the code references were put against master and not a specific revision. As the code has been changed over the last three years, those references aren't valid anymore.

@EricRahm could you please have a look again?

[2018-11-12 12:41] wardt7 commented on #445
Hi,

I've made a pull request for this fix. Is it possible for it to be reviewed, as there are a couple of build failures which I think are errors in the tests themselves rather than issues on my end (although I'm not 100% sure)

Thanks,
Toby

[2018-11-12 17:30] EricRahm commented on #313
@whimboo The original links appear to be [1,2] referring to `get_build_info_for_index`. I think this maps to [3,4]. Unfortunately I don't 100% recall what needed to change. At this point AWSY no longer uses mozdownload.

[1] https://github.com/mozilla/mozdownload/blob/94e473c120dbb62d2a7d63975dcedd8116e52dab/mozdownload/scraper.py#L875
[2] https://github.com/mozilla/mozdownload/blob/94e473c120dbb6

[2018-12-14 01:44] danishprakash commented on #468
Hi @whimboo, as is visible in this issue that there has been a lot of activity on this, is this issue still active, can I take this up?

[2018-12-22 14:12] Utkarsh1308 commented on #468
Can I work on this issue?

[2018-12-27 07:21] Utkarsh1308 commented on #468
Please review https://github.com/mozilla/mozdownload/pull/521

[2019-01-05 06:57] Utkarsh1308 commented on #468
What exactly do I have to do? Sorry I'm fairly new to open source. Do you mean converting other tests to pytests now that we are done with the remote tests?

[2019-01-07 10:51] whimboo commented on #468
That is correct. If you don't mind you could pick another subfolder, and convert all of the tests to pytest. If you face problems please let me know. Thanks!

[2019-01-07 14:42] Utkarsh1308 commented on #468
Thanks! Then I would be starting with release_candidate_scraper tests

[2019-01-07 23:02] m-agboola commented on #241
@whimboo Is this issue still open? If Yes, I'd like to work on it

[2019-01-07 23:11] m-agboola commented on #407
Hi @whimboo I'm new here and would like to work on this under your mentorship

[2019-01-08 09:04] whimboo commented on #241
It turned out that this particular issue was too complicated to get fixed in the past as mentored issue. As such I will remove the mentored flag.

[2019-01-08 09:13] whimboo commented on #407
I just had a look at archive.mozilla.org and it looks like we no longer upload the builds there. It means that these are really only available through TaskCluster via:

https://tools.taskcluster.net/index/gecko.v2.mozilla-beta.latest.firefox

It means that this issue is really blocked on issue #365 now.

[2019-01-08 10:17] Utkarsh1308 commented on #468
Could you help me with this error - NotFoundError: Specified build has not been found: https://archive.mozilla.org/pub/firefox/candidates/23.0.1-candidates/

Here are the changes I made:
https://github.com/Utkarsh1308/mozdownload/blob/bugFix/tests/release_candidate_scraper/test_release_candidate_scraper_indices.py

[2019-01-08 10:43] whimboo commented on #468
As the failure shows you are using a remote HTTP server for the tests now which doesn't work. Everything beside the remote tests are using a local server instead. You removed it with your latest changes.

It means that you will need a pytest fixture which can be used by tests to set the server up, and get a reference to it. This could be best done when you create a new file called `conftest.py` an

[2019-01-08 16:37] Utkarsh1308 commented on #468
In conftest.py How am I supposed to set up a local server. Is there any documentation for mhttpd_base_test. I looked at the documentation and the fixture is using an smtp connection. Should I use that?

[2019-01-08 20:08] whimboo commented on #468
Using a local HTTP server reduces the risk of having flaky tests due to network issues. This could cause timeouts when loading the test pages, or in our case the various files which are mocking real files.

To get that server running create a fixture and use the following code:

https://github.com/mozilla/mozdownload/blob/master/tests/mozhttpd_base_test.py#L30-L34

Then you can yield the server in

[2019-01-09 10:01] Utkarsh1308 commented on #468
What does the cls argument mean in the class function. On running my fixture using pytest, I got the error - fixture 'cls' not found.

[2019-01-09 11:17] Utkarsh1308 commented on #468
Could you explain why is my test failing now?

conftest.py - https://github.com/Utkarsh1308/mozdownload/blob/bugFix/tests/conftest.py
test - https://github.com/Utkarsh1308/mozdownload/blob/bugFix/tests/release_candidate_scraper/test_release_candidate_scraper_indices.py

[2019-01-09 12:00] whimboo commented on #468
Would you mind to create a pull request for those changes? That would allow me to see the failures on Travis CI, and comment appropriately.

[2019-01-10 08:15] whimboo commented on #313
Ok, now I see. So this is actually the following code on master:
https://github.com/mozilla/mozdownload/blob/9ec6fc5/mozdownload/scraper.py#L904-L916

So we indeed could move the if block for the timestamp before retrieving the directory listing. Then we only have to retrieve the list of directories if no timestamp is given.

@wardt7 do you still have interest to work on this issue? Sorry that it

[2019-01-10 08:17] whimboo commented on #445
Hi @wardt7. Sorry that I missed your comment here. I will immediately have a look at your PR #513.

[2019-01-10 11:35] Utkarsh1308 commented on #468
Please review https://github.com/mozilla/mozdownload/pull/523. Travis is failing at a different test, but the other test are passing.

[2019-01-10 13:11] wardt7 commented on #445
Hi @whimboo . Apologies but I'm going to have to give up working on this PR as university and family life are massively getting in the way at the moment. More than happy for people to use my fork as a basis for a patch though, and I'll stay subscribed just in case a new assignee has any questions about my fork or the issue itself.

[2019-01-10 14:08] whimboo commented on #445
Thanks for the information! But also sad to hear because it was close to get landed. So thanks for giving a template. I will set this issue as mentored now, so we can get it hopefully fixed soon.

[2019-01-11 15:47] gsnedders opened #524 "Occasional NotFoundError failures"
From https://github.com/web-platform-tests/wpt/issues/13274:

These are stacks like:

[code]

From @jgraham in https://github.com/web-platform-tests/wpt/issues/13274#issuecomment-427981381:

[2019-01-12 12:09] whimboo commented on #468
Again, please create a PR so that we can work out specifics there. Without seeing your changes I cannot help at all. Sorry.

[2019-01-12 16:33] sbeesm commented on #313
Hi! Is this issue still open? Can I work on this one?

[2019-01-14 08:06] whimboo commented on #524
Yes, this is most likely the case. If the build is not present it will fail. But that is not a problem with mozdownload.

[2019-01-14 09:33] jgraham commented on #524
It seems like a problem with mozdownload if we are asking "give me the latest linux nightly", it's finding a directory where a linux nightly could be, and because it hasn't been uploaded yet, failing rather than going back to the previous nightly. If we are just using the API wrong that's fine (and suggestions/patches welcome), but otherwise this seems like a real issue.

[2019-01-14 11:53] gsnedders commented on #524
Specifically, we're doing:

[code]

At least to me, that looks like it shouldn't ever fail because the build isn't present: either there's some bug on the server side which causes `mozdownload` to think a build exists, or there's a bug in `mozdownload` not handling some bit of server behaviour.

[2019-01-14 16:53] whimboo commented on #524
Oh, I see. You don't use the buildid to specify a particular fixed version. In that case this would need some further investigation. I assume you don't have way to run mozdownload with `-vv` to get more verbose logging output?

So @jgraham's reply would make sense. Looks like we don't traverse back into older folders until a version has been found. I wished that we would already have Taskcluster s

[2019-01-14 16:53] whimboo commented on #524
How often do you hit that?

[2019-01-15 14:13] sbeesm commented on #313
So we just have to move the `_create_directory_parser` [1] in an if block that would only run if no timestamp is provided, right? I hope I'm not missing something.

[1]  https://github.com/mozilla/mozdownload/blob/9ec6fc5/mozdownload/scraper.py#L904-L906

[2019-01-15 15:53] whimboo commented on #313
Something like that yes. I would suggest to try this out, and verify your changes with existing tests and also by using mozdownload yourself via the command line. Maybe we don't have a test yet, which checks for an invalid timestamp.

[2019-01-15 18:35] sbeesm commented on #313
I'm not able to run mozdownload via the git bash command line. It shows an error:
[code]
and

[code]

After cloning the repository, this command runs successfully: `python setup.py develop` but mozdownload doesn't work.
Can you please tell me how to fix this.

[2019-01-16 07:57] whimboo commented on #313
@sbeesm it looks like you are using Python 3 but sadly mozdownload is not compatible to it yet. See issue #415. For now you will have to use Python2.7. But feel free to also have a look at the other issue. Help is welcome to make us compatible to both 2.7 and 3.x.

[2019-01-22 17:18] rgpt commented on #468
As discussed with @whimboo I will help on this issue and start working
on the try scraper tests.

[2019-01-22 21:18] rgpt commented on #468
try putting tmpdir in str() [here-ReleaseCandidatefunction](https://github.com/Utkarsh1308/mozdownload/commit/8aae0381c66761b05d54ca7a27f6fe574060a3c3#diff-6362f8c4d63c2f53e3d8fe6e2cff9362R103).
Check if this solves the problem you are facing. I was facing similar issue solved it using this.

[2019-01-22 23:06] whimboo commented on #468
@rgpt, we got this problem already fixed and the appropriate code landed. Also thanks for picking another subfolder for conversation!

@Utkarsh1308 please let us know if you want to continue the work here, or work on another issue. Thanks!

[2019-01-22 23:31] rgpt commented on #468
@whimboo should i start porting other subfolders too. Can you suggest if there is any specific priority among them i mean, which ones should i take up first ?

[2019-01-23 07:55] whimboo commented on #468
@rgpt it's fine when you start with the one we discussed earlier. Once the PR is up, feel free to also pick another one. There is no specific priority, but just let us know here which one you want to work on.

[2019-01-23 08:33] Utkarsh1308 commented on #468
@whimboo I can do a couple more tests. I also wanted to contribute to some other repos of mozilla using bugzilla. I was wondering if you could guide me on how to do that. I had some trouble understanding how mercurial and phabricator works.

[2019-01-23 10:41] whimboo commented on #468
@Utkarsh1308 sounds good. Select what you actually want, and where you can learn most. Feel free to also pick another issue on this repository.

In regards of other projects I would propose to check the following page: https://codetribute.mozilla.org/projects/automation. If you find something for Marionette, and geckodriver I can help. Otherwise other people mentor those bugs, and will also help y

[2019-01-23 18:47] rgpt commented on #468
I wish to take up `base scraper` and `direct scraper` together as next folders to port once i am done with  #528.

[2019-01-25 09:57] whimboo commented on #468
@rgpt, that is great. Don't feel blocked with the review on the other PR. If you want already start on those two scrapers.

[2019-01-25 11:15] rgpt commented on #468
@whimboo, no problems at all, I have started working on the other files. I will make the mentioned changes as you asked. There is a profuse amount of learning that is associated with the changes that you ask me to do which is really helpful.

[2019-01-25 20:10] rgpt commented on #468
@whimboo
https://github.com/mozilla/mozdownload/blob/master/tests/base_scraper/test_base_scraper.py#L44 - i just wanted to know - `HERE` will be replace to what?, and moreover in place of `self.WDIR` we will keep `httpd.get_url()` which is a url. So it will be like `folderlocation+Url+folderLocation` which is wrong. Moreover it is sort of test like resources from where we are downloading and resou

[2019-01-28 10:43] whimboo commented on #468
@rgpt here some links. I think you can get it working via `httpd.router.doc_root`:

https://dxr.mozilla.org/mozilla-central/rev/c2593a3058afdfeaac5c990e18794ee8257afe99/testing/web-platform/tests/tools/wptserve/wptserve/server.py#639
https://dxr.mozilla.org/mozilla-central/rev/c2593a3058afdfeaac5c990e18794ee8257afe99/testing/web-platform/tests/tools/wptserve/wptserve/router.py#98

[2019-01-28 16:22] rgpt commented on #468
I wish to take up `daily_scraper` as next.

[2019-01-30 14:30] jgraham commented on #524
On a timescale of days i.e. a few times a week. It's often enough that the behaviour is problematic.

[2019-01-30 21:37] whimboo commented on #524
So the code clearly finds the build status file of the latest build. But I wonder if new files first get populated in `latest-mozilla-central` before an appropriate folder by date is created under the month folder. That is the only thing I could imagine happening here.

Does it help if you add the `--retry-attempts`, and maybe also the `--retry-sleeptime` arguments? As I can see you don't make use

[2019-01-31 09:36] jgraham commented on #524
I assumed that the problem is the `latest-mozilla-central` link being updated when the first artifact is available for the new set of builds, not the last artifact. So if e.g. there's a linux32-debug build ready but not linux64-opt then `latest-mozilla-central` will temporarily point at a folder with no suitable build. In that case there's no fallback to just using the latest build that is ready.

[2019-01-31 10:48] whimboo commented on #524
I don't think that we completely replace this folder. In such a case there wouldn't be such old Firefox 66 nightly builds present, as what we currently have.

What mozdownload actually does is to check for the status file like:
http://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/firefox-67.0a1.en-US.linux-x86_64.txt

Currently it lists `20190130215539` as build id. Based on that

[2019-02-02 12:14] rgpt commented on #468
I will be taking directory parser and factory up next once i am done with the #530, #532

[2019-02-02 15:47] rgpt opened #534 "NotFoundError instead of RequestException in base_scraper test"
When not able to download the package it should result into NotFoundError and not Request Exception error as the test case was specifically designed for `doesnotexist` Case.
Reference -https://github.com/mozilla/mozdownload/blob/f8474674808b3ded69354f8a09da208c03691aaf/tests/base_scraper/test_base_scraper.py#L55

[2019-02-03 14:08] whimboo commented on #534
Thanks a lot for filing the issue @rgpt.

[2019-02-04 18:08] Utkarsh1308 commented on #468
I closed https://github.com/mozilla/mozdownload/pull/531 by mistake. Can you repoen it

[2019-02-08 14:51] AndreiH commented on #415
I have opened PR: https://github.com/mozilla/mozdownload/pull/536 for review
Please let me know what you think and if there is something else that should be added.
Thanks !

[2019-02-10 20:09] Adarsh-Shrivastava-001 commented on #468
Hi @whimboo I am new to open source programming, but quite experienced in Python programming. Please guide me how can I contribute here.

[2019-02-11 12:11] foolip commented on #524
Would it be possible for this issue to be assigned to someone? It's coming up in https://github.com/web-platform-tests/wpt/issues/13274 with some regularity, requiring manual intervention each time as we can't tell the difference between mozdownload failures and other types of failures.

[2019-02-11 14:22] whimboo commented on #524
@foolip I replied on the wpt issue with the 2nd part from @nthomas-mozilla reply. If that doesn't work, maybe increase the retry attempts and delays for mozdownload for now.

@nthomas-mozilla is there a way to prevent using the cache and always get a fresh copy? We currently try to do it via https://github.com/mozilla/mozdownload/blob/master/mozdownload/scraper.py#L425, but that might be wrong?

[2019-02-11 14:41] jgraham commented on #524
I don't think the caching should be a problem because as noted there's no suggested mechanism for the cached file to not exist, whereas it looks like we are getting a pointer to a file that doesn't yet exist.

[2019-02-11 21:14] nthomas-mozilla commented on #524
@whimboo AFAIK there's no cache busting that can be done. I had a look through the mozdownload source, and after retrieving the build date it seems `get_build_info_for_date()` will then try to parse the directory listing at `firefox/nightly/YYYY/MM/` to make sure `YYYY-MM-DD-hh-mm-ss` is present. The listing also cached, for 15 minutes by looking at the headers. For this particular use case I sugg

[2019-02-12 20:30] whimboo commented on #468
Welcome @vipulchhabra99 and @Adarsh-Shrivastava-001 to our community! If you want to contribute to this particular issue please check the very first comment, and pick one of the not taken yet test sub directories. Once done please add a comment so that we are aware of which you have chosen. Thanks.

[2019-02-12 20:32] whimboo commented on #468
Btw. directories left are cli, directory_parser, factory, treeherder.

[2019-02-14 23:36] m-agboola commented on #223
Hi @whimboo , I would love to work on this under your guidance

[2019-02-15 09:27] whimboo commented on #223
Oh, looks like this issue slipped through when we implemented coveralls a long time ago. You can see the current status here: https://coveralls.io/github/mozilla/mozdownload.

It means we don't need this issue anymore. In your case you can search for a different issue you would like to work on, or if you are interested in improving the test coverage, I could assist you to improve it so we may reac

[2019-02-15 09:27] #223 closed

[2019-02-15 09:27] whimboo commented on #223
Marking as dupe of issue #396.

[2019-02-15 14:34] m-agboola commented on #223
Thanks @whimboo , I would like to give it a try with your assistance. How do i start?

[2019-02-17 18:45] rgpt commented on #468
@whimboo I wish to take up `Cli`, `treeherder` up next. I have requested PR for `directory_parser` and `factory`.

[2019-02-18 12:14] whimboo commented on #223
As I mentioned in my 2nd last comment this issue has already been implemented. So no more work is necessary here.

[2019-02-19 07:43] whimboo commented on #468
Sounds good @rgpt! Looks like those are the last remaining folders to convert. \o/

[2019-02-22 13:14] AndreiH commented on #415
Python 3 compatibility ready for a full review https://github.com/mozilla/mozdownload/pull/536
Fixed all tests and added Python 3 runs on Appveyor and Travis CI.
Feedback is welcomed. Thanks !

[2019-03-11 21:49] rukkykf commented on #468
hello, I'd like to work on the factory directory.....is that still available?

[2019-03-12 22:00] whimboo commented on #468
Sorry, but all the sub directories have been covered already. The last PR is under review and will be merged soon. If you are still interested please have a look at one of the other issues. I'm basically open to mentor everything. But it depends on your experience with Python, and the complexity of the issue.

[2019-03-13 08:24] whimboo commented on #468
@rgpt would you mind to come up with a final PR for removing the `MozHttpdBaseTest` class, and no longer needed PyPI dependencies?

[2019-03-13 08:29] whimboo opened #543 "Add "remote" pytest marker for remote tests and only run those tests in CI"
With issue #468 fixed soon, we can now mark specific functions to be not run by default when testing locally, but only when checks run in CI. This specifically applies to all the remote tests in https://github.com/mozilla/mozdownload/tree/master/tests/remote.

A [pytest marker](https://docs.pytest.org/en/latest/example/markers.html) should be added for each of those tests, and registered in the py